<h2 mat-dialog-title>Agregar Prpiedad</h2>

<mat-dialog-content>
    <div class="m-subheader">
        <div fxLayoutAlign="left" class="main-container">
            <form class="m-login__form m-form" #register="ngForm" (ngSubmit)="reg(register.value)">
                <div class="row" fxLayoutGap="10px">
                    <mat-form-field fxFlex="30%">
                        <input matInput type="text" placeholder="Referencia" name="reference" autocomplete="off" ngModel>
                    </mat-form-field>
                    <div fxFlex="30%" class="img">
                        <label>Imagen</label>
                        <input accept="image/*" id="raised-button-file" type="file" name="image" ngModel />
                        <!-- <input matInput type="file" placeholder="Imagen" name="image" autocomplete="off" ngModel> -->
                    </div>
                    <mat-form-field fxFlex="30%">
                        <input matInput type="text" placeholder="Precio" name="price" autocomplete="off" ngModel>
                    </mat-form-field>
                    <mat-form-field fxFlex="30%">
                        <input matInput type="text" placeholder="Dueño" name="owner" autocomplete="off" ngModel>
                    </mat-form-field>
                </div>
                <div class="row" fxLayoutGap="10px">
                    <mat-form-field fxFlex="30%">
                        <input matInput type="text" placeholder="Consultor" name="producer" autocomplete="off" ngModel>
                    </mat-form-field>
                    <mat-form-field fxFlex="30%">
                        <input matInput type="text" placeholder="Renta parcial" name="parcial_rent" autocomplete="off" ngModel>
                    </mat-form-field>
                    <mat-form-field fxFlex="30%">
                        <input matInput type="text" placeholder="Nombre de la Propiedad" name="name" autocomplete="off" ngModel>
                    </mat-form-field>
                    <mat-form-field fxFlex="30%">
                        <input matInput type="text" placeholder="Metros" name="total_built" autocomplete="off" ngModel>
                    </mat-form-field>
                </div>
                <div class="row" fxLayoutGap="10px">
                    <mat-form-field fxFlex="30%">
                        <input matInput type="text" placeholder="Superficie" name="surface" autocomplete="off" ngModel>
                    </mat-form-field>
                    <mat-form-field fxFlex="30%">
                        <input matInput type="text" placeholder="Cubierta" name="covered" autocomplete="off" ngModel>
                    </mat-form-field>
                    <mat-form-field fxFlex="30%">
                        <input matInput type="text" placeholder="Semicubierta" name="semi_covered" autocomplete="off" ngModel>
                    </mat-form-field>
                    <mat-form-field fxFlex="30%">
                        <input matInput type="text" placeholder="Descubierta" name="uncovered" autocomplete="off" ngModel>
                    </mat-form-field>
                </div>
                <div class="row" fxLayoutGap="10px">
                    <mat-form-field fxFlex="30%">
                        <input matInput type="text" placeholder="Espacios" name="spaces" autocomplete="off" ngModel>
                    </mat-form-field>
                    <mat-form-field fxFlex="30%">
                        <input matInput type="text" placeholder="Habitaciones" name="rooms" autocomplete="off" ngModel>
                    </mat-form-field>
                    <mat-form-field fxFlex="30%">
                        <input matInput type="text" placeholder="Baños" name="bathrooms" autocomplete="off" ngModel>
                    </mat-form-field>
                    <mat-form-field fxFlex="30%">
                        <input matInput type="text" placeholder="Estancias" name="restrooms" autocomplete="off" ngModel>
                    </mat-form-field>
                </div>
                <div class="row" fxLayoutGap="10px">
                    <mat-form-field fxFlex="30%">
                        <input matInput type="text" placeholder="Estacionamientos" name="parking" autocomplete="off" ngModel>
                    </mat-form-field>
                    <mat-form-field fxFlex="30%">
                        <input matInput type="text" placeholder="Pisos" name="floors" autocomplete="off" ngModel>
                    </mat-form-field>
                    <mat-form-field fxFlex="30%">
                        <input matInput type="text" placeholder="Antigüedad" name="antique" autocomplete="off" ngModel>
                    </mat-form-field>
                    <mat-form-field fxFlex="30%">
                        <input matInput type="text" placeholder="Mantenimiento" name="maintenance" autocomplete="off" ngModel>
                    </mat-form-field>
                </div>
                <div class="row" fxLayoutGap="10px">
                    <mat-form-field fxFlex="30%">
                        <input matInput type="text" placeholder="Renta" name="rent" autocomplete="off" ngModel>
                    </mat-form-field>
                    <mat-form-field fxFlex="30%">
                        <input matInput type="text" placeholder="Calle" name="street" autocomplete="off" ngModel>
                    </mat-form-field>
                    <mat-form-field fxFlex="30%">
                        <input matInput type="text" placeholder="Num. Exterior" name="ext_number" autocomplete="off" ngModel>
                    </mat-form-field>
                    <mat-form-field fxFlex="30%">
                        <input matInput type="text" placeholder="Num. Interior" name="int_number" autocomplete="off" ngModel>
                    </mat-form-field>
                </div>
                <div class="row" fxLayoutGap="10px">
                    <mat-form-field fxFlex="30%">
                        <input matInput type="text" placeholder="Colonia" name="neighborhood" autocomplete="off" ngModel>
                    </mat-form-field>
                    <mat-form-field fxFlex="30%">
                        <input matInput type="text" placeholder="Ciudad" name="city" autocomplete="off" ngModel>
                    </mat-form-field>
                    <mat-form-field fxFlex="30%">
                        <input matInput type="text" placeholder="Estado" name="state" autocomplete="off" ngModel>
                    </mat-form-field>
                    <mat-form-field fxFlex="30%">
                        <input matInput type="text" placeholder="Código Postal" name="zipcode" autocomplete="off" ngModel>
                    </mat-form-field>
                </div>
                <div class="row" fxLayoutGap="10px">
                    <mat-form-field fxFlex="30%">
                        <input matInput type="text" placeholder="url" name="url" autocomplete="off" ngModel>
                    </mat-form-field>
                </div>
                <div class="m-login__form-action">
                    <button class="mat-raised-button">
                        <input type="submit" value="Agregar">
                    </button>
                </div>
            </form>
        </div>
    </div>
</mat-dialog-content>