.footer{
    background: #95acbd;
    color: #001c2b;
    font-weight: bold;
    padding: 0;
    margin: 0;
    .row{
        padding: 2% 3% 0 3%;
    }
    .block{
        display: block !important;
        &.social{
            p{
                cursor: pointer;
            }
        }
    }
    .logo{
        img{
            position: relative;
            bottom: 20px;
        }
    }
    .info{
        font-size: 0.9rem;
        width: 67%;
        text-align: right;
        a{
            width: 60%;
            margin: 60px 0px;
            text-decoration: none;
            color: #001c2b;
        }
    }
    .copy{
        padding: 0 3%;
        p{
            cursor: pointer;
            padding-left: 3%;
        }
    }
}
@media (max-width: 1024px){
    .footer{
        .row, .copy{
            width: 100% !important;
        }
    }
}
@media (max-width: 991px){
    .footer{
        height: 50vh !important;
        width: 100%;
    }
}
@media (max-width: 400px){
    .footer{
        .row{
            margin: 0;
            .logo img{
                position: relative;
                bottom: 0px;
                left: 15px;
            }
        }
        .info{
            width: 87%;
        }
        .copy{
            cursor: pointer;
            padding-left: 0;
            width: 100%;
            text-align: center;
            p{
                width: 100%;
            }
        }
    }
}