<footer class="footer">
    <div fxLayout="row wrap" fxLayoutGap="20%" fxLayoutAlign="flex-start center">
        <div fxLayout="40%" class="logo">
            <img src="../../assets/img/Neorama_Web_logo.png" alt="Neorama Logo">
        </div>
        <div fxLayout="40%" class="info block">
            <p>Calle Miguel Hidalgo 430, Centro, 664000 Monterrey, N.L.</p>
            <p>(81) 203 989 90</p>
            <p>info@neorama.mx</p>
        </div>
        <div fxLayout="40%" class="social block">
            <p>FB</p>
            <p>IN</p>
            <p>TW</p>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="left" class="copy">
        <p>2019 neorama Aviso de Privacidad</p>
    </div>
</footer>   