<footer class="footer">
    <div fxLayout="row wrap" fxLayoutGap="10%" fxLayoutAlign="flex-start center">
        <div fxLayout="60%" class="logo">
            <img src="../../assets/img/Neorama_Web_logo.png" alt="Neorama Logo">
        </div>
        <div fxLayout="60%" class="info block">
            <a href="https://goo.gl/maps/JiKCW9qzS6L5tsKC8" target="_blank">Valle del Mirador #203 Colonia Mirador, Monterrey, NL. C.P. 64910</a>
            <p>(81) 1297 0148</p>
            <p>info@neorama.mx</p>
        </div>
        <!-- <div fxLayout="40%" class="social block">
            <p><a href="https://www.facebook.com/neoramamx/" target="_blank"><img src="../../assets/img/Fb.png" alt=""></a></p>
            <p><a href="https://www.instagram.com/neoramamx/" target="_blank"><img src="../../assets/img/insta.png" alt=""></a></p>
            <p><a href="https://twitter.com/NeoramaMx" target="_blank"><img src="../../assets/img/tw.png" alt=""></a></p>
        </div> -->
    </div>
    <div fxLayout="row" fxLayoutAlign="left" class="copy">
        <p>2019 neorama Aviso de Privacidad</p>
    </div>
</footer>   