<footer class="footer col-lg-12 col-md-12">
    <div class="row">
        <div class="logo col-lg-8 col-md-8">
            <img src="../../assets/img/Neorama_Web_logo.png" alt="Neorama Logo">
        </div>
        <div class="info block col-lg-4 col-md-4">
            <a href="https://goo.gl/maps/JiKCW9qzS6L5tsKC8" target="_blank">Valle del Mirador #203 Colonia Mirador, Monterrey, NL. C.P. 64910</a>
            <p>Cel. (81) 201 243 32</p>
            <p>Ofna. (81) 129 701 48</p>
            <p>info@neorama.mx</p>
        </div>
        <!-- <div fxLayout="40%" class="social block">
            <p><a href="https://www.facebook.com/neoramamx/" target="_blank"><img src="../../assets/img/Fb.png" alt=""></a></p>
            <p><a href="https://www.instagram.com/neoramamx/" target="_blank"><img src="../../assets/img/insta.png" alt=""></a></p>
            <p><a href="https://twitter.com/NeoramaMx" target="_blank"><img src="../../assets/img/tw.png" alt=""></a></p>
        </div> -->
    </div>
    <div class="copy row">
        <p (click)="aviso()">2019 neorama Aviso de Privacidad</p>
    </div>
</footer>   