.footer{
    background: #95acbd;
    color: #001c2b;
    height: 20vh;
    font-weight: bold;
    padding: 40px 5px 0px 5px;
    .block{
        display: block !important;
        &.social{
            p{
                cursor: pointer;
            }
        }
    }
    .logo{
        margin-right: 8% !important;
        img{
            position: relative;
            bottom: 20px;
        }
    }
    .info{
        font-size: 0.9rem;
        width: 67%;
        text-align: right;
        a{
            width: 60%;
            margin: 60px 0px;
            text-decoration: none;
            color: #001c2b;
        }
    }
    .copy{
        padding-left: 1.8vw;
    }
}