<mat-dialog-content>
    <div class="m-subheader">
        <div fxLayoutAlign="left" class="main-container">
            <div fxLayout="row" class="prop-container">
                <div class="center">
                    <img src="../../../assets/img/neorama_logof-02.png" alt="">
                    <h3 style="font-size: 1.4em;">Necesitas más información sobre este inmueble?</h3>
                    <h3 style="font-weight: 400;">Ponte en contacto con nosotros!</h3>
                </div>
                <form class="m-login__form m-form" #register="ngForm" (ngSubmit)="close()">
                    <div class="flex">
                        <mat-form-field appearance="outline" class="first">
                            <mat-label>Nombre Completo</mat-label>
                            <input matInput type="text" placeholder="Juan Perez" name="name" autocomplete="off" ngModel>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="second">
                            <mat-label>Teléfono</mat-label>
                            <input matInput type="text" placeholder="81290394" name="phone" autocomplete="off" ngModel>
                        </mat-form-field>
                    </div>
                    <mat-form-field appearance="outline">
                        <mat-label>E-mail</mat-label>
                        <input matInput type="text" placeholder="correo@ejemplo.com" name="email" autocomplete="off" ngModel>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Mensaje</mat-label>
                        <textarea matInput type="text" placeholder="Hola, me interesa este inmueble que vi en su página web y quiero que me contacten. Gracias." name="message" autocomplete="off" [(ngModel)]="message"></textarea>
                    </mat-form-field>
                    <div class="m-login__form-action">
                        <button mat-button class="mat-raised-button">Enviar</button>
                    </div>
                    <div class="consultor-info">
                        <h3>Consultor {{consultor_name}}</h3>
                        <h5 class="light"><mat-icon>phone_enabled</mat-icon> {{consultor_phone}}</h5>
                    </div>
                </form>
            </div>
        </div>
    </div>
</mat-dialog-content>

<!-- <mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()">Close</button>
</mat-dialog-actions> -->