<div class="social block">
    <a href="https://www.facebook.com/neoramamx/" target="_blank"><p class="blue"><img src="../../assets/img/Fb.png" alt=""></p></a>
    <a href="https://www.instagram.com/neoramamx/" target="_blank"><p class="red"><img src="../../assets/img/insta.png" alt=""></p></a>
    <a href="https://wa.me/5218120124332?text=Me%20interesa%20vender%20casas%20con%20ustedes" target="_blank"><p class="white"><img src="../../assets/img/whatsapp.png" alt=""></p></a>
    <a href="https://www.youtube.com/channel/UCKPiJNjG7ou7zk_VE4GZgaA" target="_blank"><p class="green"><img src="../../assets/img/video.png" alt=""></p></a>
</div>