<div fxLayout="40%" class="social block">
    <a href="https://www.facebook.com/neoramamx/" target="_blank"><p class="blue"><img src="../../assets/img/Fb.png" alt=""></p></a>
    <a href="https://www.instagram.com/neoramamx/" target="_blank"><p class="red"><img src="../../assets/img/insta.png" alt=""></p></a>
    <a href="https://twitter.com/NeoramaMx" target="_blank"><p class="yellow"><img src="../../assets/img/tw.png" alt=""></p></a>
    <a href="https://wa.me/5218120124332?text=Me%20interesa%20vender%20casas%20con%20ustedes" target="_blank"><p class="green"><img src="../../assets/img/wp.png" alt=""></p></a>
</div>