.block{
    display: block !important;
    position: fixed;
    z-index: 100;
    .red{
        background: #D32E85;
        padding: 15px;
        margin: 0px;
        width: 43% !important;
        -webkit-transition: width 0.5s; /* For Safari 3.1 to 6.0 */
        transition: width 0.5s;
        img{
            width: 90%;
        }
        &:hover{
            width: 65% !important;
            height: 3.5vh;
            // img{
            //     width: 65%;
            // }
        }
    }
    .blue{
        background: #4267B2;
        padding: 15px;
        margin: 0px;
        -webkit-transition: width 0.5s; /* For Safari 3.1 to 6.0 */
        transition: width 0.5s;
        width: 43% !important;
        img{
            width: 90%;
        }
        &:hover{
            width: 65% !important;
            height: 3.5vh;
            // img{
            //     width: 65%;
            // }
        }
    }
    .white{
        background: #62A438;
        padding: 15px;
        margin: 0px;
        -webkit-transition: width 0.5s; /* For Safari 3.1 to 6.0 */
        transition: width 0.5s;
        width: 43% !important;
        img{
            width: 90%;
        }
        &:hover{
            width: 65% !important;
            height: 3.5vh;
            // img{
            //     width: 65%;
            // }
        }
    }
    .green{
        background: #FD0101;
        padding: 15px;
        margin: 0px;
        -webkit-transition: width 0.5s; /* For Safari 3.1 to 6.0 */
        transition: width 0.5s;
        width: 43% !important;
        img{
            width: 90%;
        }
        &:hover{
            width: 65% !important;
            height: 3.5vh;
            // img{
            //     width: 65%;
            // }
        }
    }
    &.social{
        p{
            cursor: pointer;
        }
    }
}