<app-menu></app-menu>
<app-stick></app-stick>
<div fxLayout="row wrap" fxLayout="100%" fxLayoutAlign="flex-start center" class="aboutus">
    <div fxLayout="50%" class="title">
        <h2>Creamos un futuro para tu familia</h2>
        <img src="../../assets/img/us-hands.png" class="contrato" alt="Neorama Logo">
    </div>
    <div fxLayout="50%" class="sub" fxLayoutAlign="center">
        <h3>Expertos en el área inmobiliaria</h3>
        <img src="../../assets/img/Neorama_Web_logo_full.png" class="logo-middle" alt="Neorama Logo">
    </div>
</div>
<div fxLayout="row wrap" fxLayout="100%" fxLayoutAlign="flex-start center" class="info">
    <div fxFlex="80%" class="div-block us-info">
        <p>
        Con una visión enfocada a lograr el liderazgo en servicio e innovación inmobiliaria, con determinación de brindar confianza y soluciones integrales para la promoción y comercialización de propiedades nace en el año 2019 Neorama, un nuevo panorama inmobiliario.
        Este nuevo panorama surge de la fusión de dos exitosos Profesionales Inmobiliarios que después de haber formado cada uno por su cuenta un grupo de trabajo propio deciden unir conocimientos y experiencias para integrar un equipo multidisciplinario altamente especializado en:</p>
        <ul>
            <li>Comercializar y promover inmuebles (Captación, Venta y Renta de Propiedades)</li>
            <li>Asesoría Financiera y vinculación de inversionistas</li>
            <li>Tramites Hipotecarios</li>
            <li>Asesoría y acompañamiento legal</li>
            <li>Desarrollo de proyectos Arquitectónicos y constructivos</li>
            <li>Desarrollo de proyectos de inversión</li>
        </ul>
        <p>
        El activo más importante de esta fusión es el equipo humano dispuesto a servir, vincular, resolver y concretar cualquier proyecto inmobiliario.
        Brindamos certeza en cada operación ya que es la mejor manera de corresponder a la confianza de nuestros clientes, además de un trato humano, 
        incorporamos a nuestros servicios, tecnologías de última generación que faciliten y controlen la calidad de nuestros procesos.
        </p>
    </div>
</div>
<div fxLayout="row wrap" fxLayoutAlign="flex-start center" class="people">
    <div fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="flex-start center" class="baner">
            <!-- <mat-carousel>
                <mat-carousel-slide> -->
                    <div fxFlex="20%" class="details owl-carousel owl-theme" *ngFor="let prop of empleados">
                        <div fxLayout="column">
                            <div fxLayout="row">
                                <img class="empleados" src="{{prop.img}}">
                            </div>
                            <div fxLayout="row">
                                <div class="flex" fxFlex="100%">
                                    <h2>{{prop.name}}</h2>
                                    <p>{{prop.email}}</p>
                                    <h3>T. {{prop.phone}}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- </mat-carousel-slide>
            </mat-carousel> -->
    </div>
</div>
<app-footer></app-footer>
