.aboutus{
    background: #f1f1f1;
    height: 85vh;
    .title{
        display: block !important;
        h2{
            color: #001c2b;
            font-size: 4rem;
            position: relative;
            z-index: 1000;
            left: 4.5rem;
        }
        img{
            &.contrato{
                position: relative;
                width: 70%;
                left: 7%;
                bottom: 60px;
            }
        }
    }
    .sub{
        display: block !important;
        h3{
            color: #001c2b;
            font-weight: 100;
            font-size: 2rem;
            width: 120%;
            letter-spacing: 2px;
            position: relative;
            left: -7rem;
            top: 11rem;
        }
        img{
            &.logo-middle{
                position: relative;
                width: 100%;
                right: 5rem;
                bottom: -10rem;
            }
        }
    }
}
.info{
    background: #f1f1f1;
    .div-block{
        display: block !important;
        &.us-info{
            margin: 0 auto 5vh auto;
            font-size: 1.2rem;
            ul{
                li{
                    list-style: none;
                }
            }
        }
    }
}
.overlay-right[_ngcontent-xkb-c4]{
    background-color: transparent !important;
}
.people{
    background: #f1f1f1;
    height: 40vh;
    padding-top: 50px;
    .baner {
        margin-left: 6rem;
        width: 100% !important;
        angular-image-slider{
            width: 97% !important;
            .overlay-right{
                opacity: 0.3 !important;
                left: 0px;
            }
        }
    }
    img{
        &.empleados{
            width: 100%;
        }
    }
    .details{
        h2{
            position: relative;
            width: 50%;
            font-size: 3rem;
            color: #001c2b;
            font-weight: bold;
            line-height: 40px;
            bottom: 6rem;
            z-index: 10000;
            margin-bottom: -6rem;
        }
        h3{
            margin-bottom: 7rem;
        }
    }
}
.mat-toolbar.mat-primary{
    background: #f1f1f1 !important;
}
.carousel-control-next {
    right: -10%;
  }
  .carousel-control-prev {
    left: -10%;
  }
  
  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    background-color: black;
  }

  p {
    font-family: Lato;
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: black;
    border-radius: 20%;
  }
.mainpeople{
    background: #f1f1f1;
    margin-top: -4vh;
    margin-bottom: 0vh;
    .details{
        h2{
            position: relative;
            width: 70%;
            font-size: 3rem;
            color: #001c2b;
            font-weight: bold;
            line-height: 40px;
            bottom: 6rem;
            z-index: 10000;
            margin-bottom: -5rem;
            margin-top: 7rem;
        }
    }
}
.mainbaner{
    display: flex !important;
    .details{
        margin: 0 !important;
        &:first-child{
            margin-left: 90px !important;
        }
    }
    .padd30{
        padding: 30px;
        // &:nth-child(1){
        //     margin-left: 35px;
        //     h2{
        //         width: 90%;
        //     }
        // }
        p{
            font-weight: bold;
        }
        h1{
            font-weight: 300;
            font-size: 1rem;
        }
        .director-info{
            img{
                width: 50%;
            }
        }
    }
}
::ng-deep{
    .carousel{
        height: 43vh !important;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
        img{
            width: 90%;
        }
    }
    .carousel-slide{
        margin: 0 auto;
    }
    .carousel-slide-content{
        position: relative !important;
    }
}
.col-center{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    .col-3{
        width: 30%;
        h3{
            font-family: Roboto !important;
            font-weight: 300 !important;
        }
    }
}
h2, p{
    font-family: Roboto !important;
}
@media (max-width: 700px){
    app-stick{
        display: none;
    }
    .aboutus{
        width: 113%;
        display: block !important;
        height: 110vh;
        .title{
            h2{
                width: 80%;
                left: 2.5rem;
                bottom: 0;
                z-index: 0;
            }
            img{
                position: absolute;
                width: 113% !important;
                left: 0rem !important;
                top: 24rem !important;
            }
        }
        .sub{
            h3{
                left: 0.5rem !important;
                top: 17rem !important;
                width: 80% !important;
            }
            img{
                &.logo-middle{
                    position: absolute;
                    width: 100%;
                    left: 1.5rem;
                    bottom: -11rem;
                }
            }
        }
    }
    .info{
        width: 113% !important;
    }
    .mainpeople{
        width: 113% !important;
    }
    .people{
        width: 113% !important;
        height: 20vh;
    }
    .mainbaner{
        .details{
            max-width: 100% !important;
            h2{
                width: 80%º;
            }
            &:first-child{
                margin-left: 45px !important;
            }
            margin-left: 45px !important;
            .director-info{
                img{
                    width: 85%;
                }
            }
        }
    }
    ::ng-deep{
        .carousel{
            height: 17vh !important;
        }
    }
}