.aboutus{
    background: #f1f1f1;
    display: block;
    margin: 0;
    padding-top: 30px;
    .title{
        display: block !important;
        h2{
            color: #001c2b;
            font-size: 4rem;
            position: relative;
            z-index: 1000;
            left: 3.5rem;
            width: 80%;
        }
        img{
            &.contrato{
                position: relative;
                width: 100%;
                left: 7%;
            }
        }
    }
    .sub{
        display: block;
        margin-left: 60vw;
        margin-top: -20vh;
        h3{
            color: #001c2b;
            font-weight: 100;
            font-size: 2em;
            letter-spacing: 2px;
        }
    }
}
.info{
    margin: 0;
    background: #f1f1f1;
    padding: 40px 0 0 0;
    .div-block{
        display: block !important;
        &.us-info{
            margin: 0 auto 5vh auto;
            font-size: 1.2em;
            ul{
                li{
                    list-style: none;
                    mat-icon{
                        margin-right: 15px;
                    }
                }
            }
        }
    }
}
.overlay-right[_ngcontent-xkb-c4]{
    background-color: transparent !important;
}
.people{
    background: #f1f1f1;
    padding-top: 50px;
    .baner {
        margin-left: 6rem;
        width: 100% !important;
        angular-image-slider{
            width: 97% !important;
            .overlay-right{
                opacity: 0.3 !important;
                left: 0px;
            }
        }
    }
    img{
        &.empleados{
            width: 100%;
        }
    }
    .details{
        h2{
            position: relative;
            width: 50%;
            font-size: 3rem;
            color: #001c2b;
            font-weight: bold;
            line-height: 40px;
            bottom: 6rem;
            z-index: 10000;
            margin-bottom: -6rem;
        }
        h3{
            margin-bottom: 7rem;
        }
    }
}
.mat-toolbar.mat-primary{
    background: #f1f1f1 !important;
}
.carousel-control-next {
    right: -10%;
  }
  .carousel-control-prev {
    left: -10%;
  }
  
  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    background-color: black;
  }

  p {
    font-family: Lato;
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: black;
    border-radius: 20%;
  }
.mainpeople{
    background: #f1f1f1;
    margin: 0;
    .details{
        h2{
            position: relative;
            width: 70%;
            font-size: 3rem;
            color: #001c2b;
            font-weight: bold;
            line-height: 40px;
            bottom: 6rem;
            z-index: 10000;
            margin-bottom: -5rem;
            margin-top: 7rem;
        }
    }
}
.mainbaner{
    display: flex;
    .details{
        margin: 0 !important;
    }
    .padd30{
        padding: 30px;
        p{
            font-weight: bold;
        }
        h1{
            font-weight: 300;
            font-size: 1rem;
        }
        .director-info{
            img{
                width: 70%;
            }
        }
    }
}
::ng-deep{
    .carousel{
        height: 43vh !important;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
        img{
            width: 90%;
        }
    }
    .carousel-slide{
        margin: 0 auto;
    }
    .carousel-slide-content{
        position: relative !important;
    }
    .carousel > button{
        top: 30% !important;
    }
}
.col-center{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    h5{
        margin-top: 20px;
    }
}
h2, p{
    font-family: Roboto !important;
}
.people-mobile{
    display: none;
}
.img-edited{
    width: 90%;
}
@media only screen and (min-width: 834px) and (max-width: 1024px){
    .title{
        h2{
            width: 100% !important;
        }
    }
    .sub{
        display: none !important;
    }
    ::ng-deep{
        .carousel{
            height: 17vh !important;
            img{
                width: 57% !important;
            }
        }
        .carousel > button {
            top: 13% !important;
        }
    }
    .people-mobile{
        display: none;
    }
    .img-edited{
        width: 57% !important;
    }
}
@media
  only screen and (-webkit-min-device-pixel-ratio: 2.0),
  only screen and (   min--moz-device-pixel-ratio: 2.0),
  only screen and (     -o-min-device-pixel-ratio: 2.0/1),
  only screen and (        min-device-pixel-ratio: 2.0),
  only screen and (                min-resolution: 264 dpi),
  only screen and (                min-resolution: 2.0dppx) { 
    /* Retina styles here */
    .title{
        h2{
            width: 100% !important;
        }
    }
    .sub{
        display: none !important;
    }
    ::ng-deep{
        .carousel{
            height: 17vh !important;
            img{
                width: 57% !important;
            }
        }
        .carousel > button {
            top: 13% !important;
        }
    }
    .people-mobile{
        display: none;
    }
    .img-edited{
        width: 57% !important;
    }
}
@media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) { 
    /* Retina styles here */
    .title{
        h2{
            width: 100% !important;
        }
    }
    .sub{
        display: none !important;
    }
    ::ng-deep{
        .carousel{
            height: 17vh !important;
            img{
                width: 57% !important;
            }
        }
        .carousel > button {
            top: 13% !important;
        }
    }
    .people-mobile{
        display: none;
    }
    .img-edited{
        width: 57% !important;
    }
}
@media
  only screen and (-webkit-min-device-pixel-ratio: 3),
  only screen and (   min--moz-device-pixel-ratio: 3),
  only screen and (     -o-min-device-pixel-ratio: 3/1),
  only screen and (        min-device-pixel-ratio: 3),
  only screen and (                min-resolution: 384dpi),
  only screen and (                min-resolution: 3dppx) { 
    /* Retina styles here */
    .title{
        h2{
            width: 100% !important;
        }
    }
    .sub{
        display: none !important;
    }
    ::ng-deep{
        .carousel{
            height: 17vh !important;
            img{
                width: 57% !important;
            }
        }
        .carousel > button {
            top: 13% !important;
        }
    }
    .people-mobile{
        display: none;
    }
    .img-edited{
        width: 57% !important;
    }
}
@media only screen and (min-width: 1112px) and (orientation: landscape){
    .title{
        h2{
            width: 100% !important;
        }
    }
    .sub{
        display: none !important;
    }
    ::ng-deep{
        .carousel{
            height: 17vh !important;
            img{
                width: 57% !important;
            }
        }
        .carousel > button {
            top: 13% !important;
        }
    }
    .people-mobile{
        display: none;
    }
    .img-edited{
        width: 57% !important;
    }
}
@media (max-width: 991px){
    app-stick{
        display: none;
    }
    .img-edited{
        width: 57% !important;
    }
    .aboutus{
        width: 100%;
        display: block !important;
        .title{
            h2{
                width: 100%;
                left: 0.5rem;
                bottom: 0;
                z-index: 0;
            }
            img{
                left: 0px !important;
                top: 2rem !important;
            }
        }
        .sub{
            h3{
                left: 0.5rem !important;
                top: 17rem !important;
                width: 80% !important;
            }
            img{
                &.logo-middle{
                    position: absolute;
                    width: 100%;
                    left: 1.5rem;
                    bottom: -11rem;
                }
            }
        }
    }
    .div-block{
        p{
            padding: 10px 20px;
        }
        ul{
            padding: 0 20px;
        }
    }
    .info{
        width: 100% !important;
    }
    .mainpeople{
        width: 100% !important;
    }
    .people{
        display: none;
    }
    .people-mobile{
        display: block;
        height: 25vh;
        background: #f1f1f1;
        .col-center{
            .col-xs-6{
                width: 50%;
            }
        }
    }
    .mainbaner{
        display: block !important;
        .details{
            max-width: 100% !important;
            padding: 0;
            .padd30{
                padding: 0;
            }
            h2{
                width: 80%;
            }
            .director-info{
                img{
                    width: 100%;
                }
            }
        }
    }
    ::ng-deep{
        .carousel{
            height: 20vh !important;
            img{
                width: 57% !important;
            }
        }
        .carousel-slide-overlay{
            display: none;
        }
        .carousel > button {
            top: 40% !important;
        }
        .cdk-overlay-pane{
            width: 80% !important;
        }
    }
}
@media (max-width: 400px){
    .mainpeople{
        display: block;
    }
    .people{
        display: none;
    }
    .img-edited{
        width: 57% !important;
    }
}