<app-menu></app-menu>
<app-stick></app-stick>
<div class="aboutus row col-lg-12 col-md-12">
    <div class="title col-lg-7 col-md-7">
        <h2>Creamos un futuro para tu familia</h2>
        <img src="../../assets/img/team.jpg" class="contrato" alt="Neorama Logo">
    </div>
    <div class="sub col-lg-4 col-md-4">
        <h3>Expertos en el área inmobiliaria</h3>
        <img src="../../assets/img/Neorama_Web_logo_full.png" class="logo-middle" alt="Neorama Logo">
    </div>
</div>
<div class="info row col-md-12 col-lg-12">
    <div class="div-block us-info col-lg-10 col-md-10 col-offset-2">
        <h3>Construimos las bases para un mejor futuro… ¡Tu futuro!</h3>
        <p style="text-align: justify;">
        Enfocados en brindar confianza y soluciones a nuestros clientes, nace Neorama, 
        revolucionando el sector inmobiliario, gracias a la visión y liderazgo de 2 exitosos profesionales 
        en el sector, quienes fusionaron sus conocimientos y experiencias para desarrollar un equipo 
        multidisciplinario especializado en:
        Comercializar y promover inmuebles (Venta, Compra y Renta de Propiedades):            
        </p>
        <ul>
            <li><mat-icon>done</mat-icon> Asesoría Financiera y vinculación de inversionistas.</li>
            <li><mat-icon>done</mat-icon> Tramites Hipotecarios.</li>
            <li><mat-icon>done</mat-icon> Asesoría y acompañamiento legal.</li>
            <li><mat-icon>done</mat-icon> Desarrollo de proyectos Arquitectónicos y constructivos.</li>
            <li><mat-icon>done</mat-icon> Desarrollo de proyectos de inversión.</li>
        </ul>
        <p style="text-align: justify;">
            En Neorama, nuestro activo más importante es nuestro equipo de trabajo, 
            que aunque son expertos en cada una de sus áreas compartimos una meta en común: 
            atender y resolver las necesidades de nuestros clientes haciendo uso de la más alta tecnología, 
            así como brindar certeza en cada una de nuestras operaciones, buscando crear vínculos sólidos con cada uno de ustedes, 
            nuestros clientes, así como brindando certeza en cada una de nuestras operaciones.
        </p>
    </div>
</div>
<div class="mainpeople row col-lg-12 col-md-12 col-xs-12">
    <div class="mainbaner container">
        <div class="details owl-carousel owl-theme col-md-6 col-lg-6 col-xs-12">
            <div fxLayout="column" class="padd30">
                <div fxLayout="row" class="director-info">
                    <img class="empleados" src="../../assets/img/Francisco Belmares.jpg">
                </div>
                <div fxLayout="row">
                    <div class="flex" fxFlex="100%">
                        <h2>Francisco Belmares</h2>
                        <p>Director Comercial</p>
                        <h1 style="text-align: justify;padding: 2% 5% 4% 0;">Licenciado en Psicología por la Universidad Autónoma de Coahuila (UADEC)
                            Con más de 15 años de experiencia en manejo de grupos, Relaciones Humanas y Coaching.
                            Los últimos años con alto desempeño en el área bancaria como Jefe de promoción de
                            negocio y trabajo de directivo.
                            Con expertise de más de 6 años en el giro Inmobiliario con enfoque orientado
                            completamente al cliente.</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="details owl-carousel owl-theme col-md-6 col-lg-6  col-xs-12">
            <div fxLayout="column" class="padd30">
                <div fxLayout="row" class="director-info">
                    <img class="empleados" src="../../assets/img/Francisco Banda.jpg">
                </div>
                <div fxLayout="row">
                    <div class="flex" fxFlex="100%">
                        <h2>Francisco Banda</h2>
                        <p>Director Administrativo</p>
                        <h1 style="text-align: justify;padding: 2% 5% 4% 0;">Administrador de empresas por la Universidad Autónoma de Nuevo León (UANL) con
                            estudios en Technology Commercialization (MSTC) en el Center for Global Innovation and
                            Entrepreneurship of University of Texas at Austin (UTA).
                            Con 10 años de experiencia en planeación estratégica orientada al desarrollo de proyectos
                            inmobiliarios, análisis de proyectos de inversión y comercialización de Inmuebles.</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="people">
    <mat-carousel
    class="thiscarousel"
    timings="250ms ease-in"
    [autoplay]="auto"
    interval="4000"
    color="primary"
    slides="5"
    [loop]="true"
    [hideArrows]="false"
    [hideIndicators]="true"
    [useKeyboard]="false"
    [useMouseWheel]="false"
    orientation="ltr">
    <mat-carousel-slide
        #matCarouselSlide
        overlayColor="#00000040"
        [hideOverlay]="false">
        <div class="col-center">
            <div class="col-lg-3 col-md-3" (click)="seeMore('Adriana Contreras', 'Consultor Inmobiliario', '8121502473', 'adriana@neorama.mx')">
                <img src="../../assets/img/Adriana Contreras.jpg">
                <h5>Adriana Contreras</h5>
            </div>
            <div class="col-lg-3 col-md-3" (click)="seeMore('Edson Banda', 'Consultor Inmobiliario', '8119658542', 'edson@neorama.mx')">
                <img src="../../assets/img/Edson Banda.jpg">
                <h5>Edson Banda</h5>
            </div>
            <div class="col-lg-3 col-md-3" (click)="seeMore('Erika Melendez', 'Consultor Inmobiliario', '8261279857', 'erika@neorama.mx')">
                <img src="../../assets/img/Erika Melendez.jpg">
                <h5>Erika Melendez</h5>
            </div>
            <div class="col-lg-3 col-md-3" (click)="seeMore('Fernando Garcia', 'Consultor Inmobiliario', '8123332775', 'fernando@neorama.mx')">
                <img src="../../assets/img/Fernando Garcia.jpg">
                <h5>Fernando Garcia</h5>
            </div>
        </div>
    </mat-carousel-slide>
    <mat-carousel-slide
    #matCarouselSlide2
    overlayColor="#00000040"
    [hideOverlay]="false">
    <div class="col-center">
        <div class="col-lg-3 col-md-3" (click)="seeMore('Jorge Ordoñez', 'Consultor Inmobiliario', '8111311660', 'jorgeo@neorama.mx')">
            <img src="../../assets/img/Jorge Ordoñez.jpg">
            <h5>Jorge Ordoñez</h5>
        </div>
        <div class="col-lg-3 col-md-3" (click)="seeMore('Karla Carrillo', 'Consultor Inmobiliario', '8117225290', 'karla@neorama.mx')">
            <img src="../../assets/img/Karla Carrillo.jpg">
            <h5>Karla Carrillo</h5>
        </div>
        <div class="col-lg-3 col-md-3" (click)="seeMore('Liliana Uribe', 'Consultor Inmobiliario', '8114134689', 'liliana@neorama.mx')">
            <img src="../../assets/img/Liliana Uribe.jpg">
            <h5>Liliana Uribe</h5>
        </div>
        <div class="col-lg-3 col-md-3" (click)="seeMore('Ricardo Herrera', 'Consultor Inmobiliario', '8117289494', 'ricardo@neorama.mx')">
            <img src="../../assets/img/Ricardo Herrera.jpg">
            <h5>Ricardo Herrera</h5>
        </div>
    </div>
    </mat-carousel-slide>
    <mat-carousel-slide
    #matCarouselSlide3
    overlayColor="#00000040"
    [hideOverlay]="false">
    <div class="col-center">
        <div class="col-lg-3 col-md-3" (click)="seeMore('Rox Ayala', 'Consultor Inmobiliario', '8121051270', 'rox@neorama.mx')">
            <img src="../../assets/img/Rox Ayala.jpg" style="width: 90%;">
            <h5>Rox Ayala</h5>
        </div>
        <div class="col-lg-3 col-md-3" (click)="seeMore('Stephanie Garza', 'Consultor Inmobiliario', '8122027618', 'stephanie@neorama.mx')">
            <img src="../../assets/img/Stephanie Garza.jpg" style="width: 90%;">
            <h5>Stephanie Garza</h5>
        </div>
        <div class="col-lg-3 col-md-3" (click)="seeMore('Alberto Martinez', 'Consultor Inmobiliario', '8126194854', 'alberto@neorama.mx')">
            <img src="../../assets/img/AM.jpg" style="width: 90%;">
            <h5>Alberto Martinez</h5>
        </div>
    </div>
    </mat-carousel-slide>
    </mat-carousel>
</div>
<div class="people-mobile">
    <mat-carousel
    class="thiscarousel"
    timings="250ms ease-in"
    [autoplay]="auto"
    interval="4000"
    color="primary"
    slides="5"
    [loop]="true"
    [hideArrows]="false"
    [hideIndicators]="true"
    [useKeyboard]="false"
    [useMouseWheel]="false"
    orientation="ltr">
    <mat-carousel-slide
        #matCarouselSlide
        overlayColor="#00000040"
        [hideOverlay]="false">
        <div class="col-center row">
            <div class="col-xs-6" (click)="seeMore('Adriana Contreras', 'Consultor Inmobiliario', '8121502473', 'adriana@neorama.mx')">
                <img src="../../assets/img/Adriana Contreras.jpg">
                <h5>Adriana Contreras</h5>
            </div>
            <div class="col-xs-6" (click)="seeMore('Edson Banda', 'Consultor Inmobiliario', '8119658542', 'edson@neorama.mx')">
                <img src="../../assets/img/Edson Banda.jpg">
                <h5>Edson Banda</h5>
            </div>
        </div>
    </mat-carousel-slide>
    <mat-carousel-slide
    #matCarouselSlide2
    overlayColor="#00000040"
    [hideOverlay]="false">
    <div class="col-center row">
        <div class="col-xs-6" (click)="seeMore('Erika Melendez', 'Consultor Inmobiliario', '8261279857', 'erika@neorama.mx')">
            <img src="../../assets/img/Erika Melendez.jpg">
            <h5>Erika Melendez</h5>
        </div>
        <div class="col-xs-6" (click)="seeMore('Fernando Garcia', 'Consultor Inmobiliario', '8123332775', 'fernando@neorama.mx')">
            <img src="../../assets/img/Fernando Garcia.jpg">
            <h5>Fernando Garcia</h5>
        </div>
    </div>
    </mat-carousel-slide>
    <mat-carousel-slide
    #matCarouselSlide2
    overlayColor="#00000040"
    [hideOverlay]="false">
    <div class="col-center row">
        <div class="col-xs-6" (click)="seeMore('Jorge Ordoñez', 'Consultor Inmobiliario', '8111311660', 'jorgeo@neorama.mx')">
            <img src="../../assets/img/Jorge Ordoñez.jpg">
            <h5>Jorge Ordoñez</h5>
        </div>
        <div class="col-xs-6" (click)="seeMore('Karla Carrillo', 'Consultor Inmobiliario', '8117225290', 'karla@neorama.mx')">
            <img src="../../assets/img/Karla Carrillo.jpg">
            <h5>Karla Carrillo</h5>
        </div>
    </div>
    </mat-carousel-slide>
    <mat-carousel-slide
    #matCarouselSlide2
    overlayColor="#00000040"
    [hideOverlay]="false">
    <div class="col-center row">
        <div class="col-xs-6" (click)="seeMore('Liliana Uribe', 'Consultor Inmobiliario', '8114134689', 'liliana@neorama.mx')">
            <img src="../../assets/img/Liliana Uribe.jpg">
            <h5>Liliana Uribe</h5>
        </div>
        <div class="col-xs-6" (click)="seeMore('Ricardo Herrera', 'Consultor Inmobiliario', '8117289494', 'ricardo@neorama.mx')">
            <img src="../../assets/img/Ricardo Herrera.jpg">
            <h5>Ricardo Herrera</h5>
        </div>
    </div>
    </mat-carousel-slide>
    <mat-carousel-slide
    #matCarouselSlide3
    overlayColor="#00000040"
    [hideOverlay]="false">
    <div class="col-center row">
        <div class="col-xs-6" (click)="seeMore('Rox Ayala', 'Consultor Inmobiliario', '8121051270', 'rox@neorama.mx')">
            <img src="../../assets/img/Rox Ayala.jpg" style="width: 90%;">
            <h5>Rox Ayala</h5>
        </div>
        <div class="col-xs-6" (click)="seeMore('Stephanie Garza', 'Consultor Inmobiliario', '8122027618', 'stephanie@neorama.mx')">
            <img src="../../assets/img/Stephanie Garza.jpg" style="width: 90%;">
            <h5>Stephanie Garza</h5>
        </div>
    </div>
    </mat-carousel-slide>
    <mat-carousel-slide
    #matCarouselSlide3
    overlayColor="#00000040"
    [hideOverlay]="false">
    <div class="col-center row">
        <div class="col-xs-6" (click)="seeMore('Alberto Martinez', 'Consultor Inmobiliario', '8126194854', 'alberto@neorama.mx')">
            <img src="../../assets/img/AM.jpg" style="width: 90%;">
            <h5>Alberto Martinez</h5>
        </div>
    </div>
    </mat-carousel-slide>
    </mat-carousel>
</div>
<app-footer></app-footer>