.aboutus{
    background: #acb9c7;
    height: 100vh;
    .title{
        h2{
            color: #fff;
            font-size: 4rem;
            position: relative;
            z-index: 1000;
            width: 70%;
            left: 4.5rem;
            bottom: 11rem;
            line-height: 50px;
        }
        img{
            &.contrato{
                position: absolute;
                width: 50%;
                left: 4.6rem;
                top: 27rem;
            }
        }
    }
    .sub{
        h3{
            color: #001c2b;
            font-weight: 100;
            font-size: 2rem;
            width: 100%;
            position: relative;
            right: 3rem;
            bottom: 9rem;
        }
        img{
            &.logo-middle{
                position: absolute;
                width: 55%;
                left: 33rem;
                bottom: -8rem;
            }
        }
    }
}
.info{
    background: #acb9c7;
    .div-block{
        display: block !important;
        &.us-info{
            margin: 0 auto 5vh auto;
            font-size: 1.2rem;
        }
    }
}
.overlay-right[_ngcontent-xkb-c4]{
    background-color: transparent !important;
}
.people{
    background: #acb9c7;
    height: 70vh;
    .baner {
        margin-left: 6rem;
        width: 100% !important;
        angular-image-slider{
            width: 97% !important;
            .overlay-right{
                opacity: 0.3 !important;
                left: 0px;
            }
        }
    }
    img{
        &.empleados{
            width: 100%;
        }
    }
    .details{
        h2{
            position: relative;
            width: 50%;
            font-size: 3rem;
            color: #fff;
            font-weight: bold;
            line-height: 40px;
            bottom: 6rem;
            z-index: 10000;
            margin-bottom: -6rem;
        }
        h3{
            margin-bottom: 7rem;
        }
    }
}
.mat-toolbar.mat-primary{
    background: #acb9c7 !important;
}
.carousel-control-next {
    right: -10%;
  }
  .carousel-control-prev {
    left: -10%;
  }
  
  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    background-color: black;
  }

  p {
    font-family: Lato;
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: black;
    border-radius: 20%;
  }
.mainpeople{
    background: #acb9c7;
    margin-top: -4vh;
    margin-bottom: 0vh;
    .details{
        h2{
            position: relative;
            width: 70%;
            font-size: 3rem;
            color: #fff;
            font-weight: bold;
            line-height: 40px;
            bottom: 6rem;
            z-index: 10000;
            margin-bottom: -6rem;
        }
    }
}
.mainbaner{
    display: flex !important;
    .details{
        margin: 0 !important;
        &:first-child{
            margin-left: 90px !important;
        }
    }
    .padd30{
        padding: 30px;
        // &:nth-child(1){
        //     margin-left: 35px;
        //     h2{
        //         width: 90%;
        //     }
        // }
        p{
            font-weight: bold;
        }
        h1{
            font-weight: 300;
            font-size: 1rem;
        }
        .director-info{
            img{
                width: 50%;
            }
        }
    }
}