<app-menu></app-menu>
<div class="main flex">
    <app-stick></app-stick>
    <div fxLayout="row" fxLayoutWrap fxLayoutAlign="center">
        <div class="sidebar">
            <div class="filters">
                <h3>Filtros seleccionados:</h3>
                <span *ngFor="let filter of selectedFilters;let i = index">{{filter.name}} <mat-icon (click)="deleteFilter(i)">close</mat-icon></span>
            </div>
            <div class="addresse">
                <h3>Dirección</h3>
                <form class="m-login__form m-form" #register="ngForm" (ngOnChanges)="filter(register.value)">
                    <mat-form-field appearance="outline" class="first">
                        <input matInput type="text" placeholder="Buscar por diección" name="name" autocomplete="off" ngModel>
                    </mat-form-field>
                    <button mat-button class="mat-raised-button search"><mat-icon>search</mat-icon></button>
                </form>
            </div>
            <div class="operation">
                <h3>Tipo de operación</h3>
                <mat-radio-group>
                    <mat-radio-button value="1">Compra</mat-radio-button>
                    <mat-radio-button value="2">Renta</mat-radio-button>
                    <mat-radio-button value="3">Renta/Vacacional temporal</mat-radio-button>
                    <mat-radio-button value="4">Preventa</mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="priceContainer">
                <h3>Precio</h3>
                <form class="m-login__form m-form price" #register="ngForm" (ngOnChanges)="filter(register.value)">
                    <mat-radio-group>
                        <mat-radio-button value="1">MXN</mat-radio-button>
                        <mat-radio-button value="2">DLS</mat-radio-button>
                    </mat-radio-group>
                    <div class="flex">
                        <mat-form-field appearance="outline" class="first">
                            <input matInput type="text" placeholder="Desde" name="name" autocomplete="off" ngModel>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="first">
                            <input matInput type="text" placeholder="Hasta" name="name" autocomplete="off" ngModel>
                        </mat-form-field>
                        <button mat-button class="mat-raised-button search"><mat-icon>attach_money</mat-icon></button>
                    </div>
                </form>
            </div>
            <div class="operation">
                <h3>Tipo de inmueble</h3>
                <mat-radio-group>
                    <mat-radio-button value="1">Casa</mat-radio-button>
                    <mat-radio-button value="2">Departamento</mat-radio-button>
                    <mat-radio-button value="3">Terreno / Lote</mat-radio-button>
                    <mat-radio-button value="4">Local comercial</mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="operation">
                <h3>Baños</h3>
                <div class="btnsOpts">
                    <button mat-button class="mat-raised-button" [class.selected]="val1" (click)="bath(1)"><mat-icon class="plus">close</mat-icon>1</button>
                    <button mat-button class="mat-raised-button" [class.selected]="val2" (click)="bath(2)"><mat-icon class="plus">close</mat-icon>2</button>
                    <button mat-button class="mat-raised-button" [class.selected]="val3" (click)="bath(3)"><mat-icon class="plus">close</mat-icon>3</button>
                </div>
            </div>
            <div class="operation">
                <h3>Estacionamientos</h3>
                <div class="btnsOpts">
                    <button mat-button class="mat-raised-button" [class.selected]="park1" (click)="parking(1)"><mat-icon class="plus">close</mat-icon>1</button>
                    <button mat-button class="mat-raised-button" [class.selected]="park2" (click)="parking(2)"><mat-icon class="plus">close</mat-icon>2</button>
                    <button mat-button class="mat-raised-button" [class.selected]="park3" (click)="parking(3)"><mat-icon class="plus">close</mat-icon>3</button>
                </div>
            </div>
            <div class="operation">
                <h3>Antigüedad</h3>
                <mat-radio-group>
                    <mat-radio-button value="1">A estrenar</mat-radio-button>
                    <mat-radio-button value="2">En construcción</mat-radio-button>
                    <mat-radio-button value="3">Más de 5 años</mat-radio-button>
                    <mat-radio-button value="4">Menos de 5 años</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <div class="container-properties">
            <!-- <p>Casas con alberca en Nuevo León</p> -->
            <div *ngFor="let prop of properties;let i = index" class="props">
                <div class="slider">
                    <mat-carousel
                    class="thiscarousel"
                    timings="250ms ease-in"
                    [autoplay]="false"
                    interval="5000"
                    color="primary"
                    slides="5"
                    [loop]="true"
                    [hideArrows]="false"
                    [hideIndicators]="true"
                    [useKeyboard]="false"
                    [useMouseWheel]="false"
                    orientation="ltr">
                    <mat-carousel-slide
                        #matCarouselSlide
                        *ngFor="let slide of prop.images; let i = index"
                        overlayColor="#00000040"
                        [hideOverlay]="false">
                        <img [src]="slide">
                    </mat-carousel-slide>
                    </mat-carousel>
                    <h2>{{prop.price | currency}}{{prop.currency_type}}</h2>
                </div>
                <div class="description">
                    <h2>{{prop.ad_description}}</h2>
                    <p class="sub">{{prop.delegation}}</p>
                    <p class="mtop">Terreno construido {{prop.built_size}}mts<sup>2</sup> | <mat-icon>single_bed</mat-icon> Recámaras {{prop.bathrooms}} | <mat-icon>bathtub</mat-icon> Baños {{prop.bathrooms}}</p>
                    <p> <mat-icon>directions_car</mat-icon>Estacionamiento {{prop.parking}} | <mat-icon>pool</mat-icon> Alberca | <mat-icon>pets</mat-icon> Mascotas permitidas </p>
                    <div class="footer" fxLayout="column" fxLayoutAlign="end stretch">
                        <div class="flex">
                            <div class="first">
                                <p>Publicado el {{prop.created_at | date:'mediumDate'}}</p>
                            </div>
                            <div class="sec">
                                <button class="mat-raised-button blue" mat-button (click)="getContact(prop)"> <mat-icon>question_answer</mat-icon> CONTACTAR</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>