<app-menu></app-menu>
<app-stick></app-stick>
<div class="main flex col-lg-12 col-md-12 row">
    <div class="props-container">
        <div class="sidebar col-lg-3 col-xl-3 col-sm-11">
            <!-- <div class="filters" [class.filtersHeight]="inmuebleSelect">
                <h3>Filtros seleccionados:</h3>
                <span *ngIf="citySelect"> {{selectedFilters.city}} <mat-icon (click)="deleteFilter('city')">close</mat-icon></span> <br>
                <span *ngIf="operationSelect" style="position:relative;top:20px"> {{selectedFilters.operation}}  <mat-icon (click)="deleteFilter('operation')">close</mat-icon></span> <br>
                <span *ngIf="inmuebleSelect" style="position:relative;top:40px"> {{selectedFilters.inmueble}}  <mat-icon (click)="deleteFilter('inmueble')">close</mat-icon></span> <br>
                <span *ngIf="bethsSelect" style="position:relative;top:60px"> {{selectedFilters.beths}}  <mat-icon (click)="deleteFilter('beth')">close</mat-icon></span> <br>
                <span *ngIf="bathsSelect" style="position:relative;top:80px"> {{selectedFilters.baths}}  <mat-icon (click)="deleteFilter('bath')">close</mat-icon></span> <br>
                <span *ngIf="parksSelect" style="position:relative;top:100px"> {{selectedFilters.parks}} <mat-icon (click)="deleteFilter('park')">close</mat-icon></span>
            </div> -->
            <div class="addresse">
                <h5>Dirección</h5>
                <form class="m-login__form m-form" #register="ngForm">
                    <mat-form-field appearance="outline" class="first">
                        <mat-select name="location" [formControl]="location_control" placeholder="Dirección" (selectionChange)="filterChanged($event.value)">
                            <mat-option *ngFor="let country of ext" [value]="country.full">
                                {{country.full}}
                            </mat-option>
                        </mat-select>
                        <!-- <input matInput type="text" placeholder="Buscar por diección" name="addresse" autocomplete="off" ngModel> -->
                    </mat-form-field>
                    <!-- <button mat-button class="mat-raised-button search" (click)="filter(location_control.value)"><mat-icon>search</mat-icon></button> -->
                </form>
            </div>
            <div class="operation">
                <h5>Tipo de operación</h5>
                <mat-radio-group name="opciones" [(ngModel)]="operacionSeleccionada" (change)="operar()">
                    <mat-radio-button name="opciones" value="compra">Compra</mat-radio-button>
                    <mat-radio-button name="opciones" value="renta">Renta</mat-radio-button>
                    <mat-radio-button name="opciones" value="vacacional">Renta/Vacacional temporal</mat-radio-button>
                    <mat-radio-button name="opciones" value="preventa">Preventa</mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="operation">
                <h5>Tipo de inmueble</h5>
                <mat-radio-group name="opcionesInmueble" [(ngModel)]="operacionInmueble" (change)="operarInmueble()">
                    <mat-radio-button name="opcionesInmueble" value="casa">Casa</mat-radio-button>
                    <mat-radio-button name="opcionesInmueble" value="departamento">Departamento</mat-radio-button>
                    <mat-radio-button name="opcionesInmueble" value="terreno">Terreno / Lote</mat-radio-button>
                    <mat-radio-button name="opcionesInmueble" value="local">Local comercial</mat-radio-button>
                    <mat-radio-button name="opcionesInmueble" value="oficina">Oficina</mat-radio-button>
                    <mat-radio-button name="opcionesInmueble" value="bodega">Bodega</mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="operation">
                <h5>Antigüedad</h5>
                <mat-radio-group name="opcionesAnti" [(ngModel)]="operacionAnti" (change)="antiguedad()">
                    <mat-radio-button name="opcionesAnti" value="estrenar">A estrenar</mat-radio-button>
                    <mat-radio-button name="opcionesAnti" value="construccion">En construcción</mat-radio-button>
                    <mat-radio-button name="opcionesAnti" value="5años">Hasta 5 años</mat-radio-button>
                    <mat-radio-button name="opcionesAnti" value="5-10">Entre 5 y 10 años</mat-radio-button>
                    <mat-radio-button name="opcionesAnti" value="10-20">Entre 10 y 20 años</mat-radio-button>
                    <mat-radio-button name="opcionesAnti" value="20-50">Entre 20 y 50 años</mat-radio-button>
                    <mat-radio-button name="opcionesAnti" value="50+">Más de 50 años</mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="operation">
                <h5>Superficie</h5>
                <mat-radio-group name="opcionesSuperficie" [(ngModel)]="operacionSuperficie" (change)="superficie()">
                    <mat-radio-button name="opcionesSuperficie" value="construccion">Construcción</mat-radio-button>
                    <mat-radio-button name="opcionesSuperficie" value="terreno">Terreno</mat-radio-button>
                </mat-radio-group>
                <div class="inputs">
                    <mat-form-field appearance="outline" class="half">
                        <mat-label>Desde</mat-label>
                        <input matInput type="number" name="mts1" autocomplete="off" ngModel>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="half">
                        <mat-label>Hasta</mat-label>
                        <input matInput type="number" name="mts2" autocomplete="off" ngModel>
                    </mat-form-field>
                </div>
            </div>
            <div class="operation">
                <h5>Precio</h5>
                <mat-radio-group name="opcionesPrecio" [(ngModel)]="operacionPrecio" (change)="precio()">
                    <mat-radio-button name="opcionesPrecio" value="pesos">Pesos</mat-radio-button>
                    <mat-radio-button name="opcionesPrecio" value="dolares">Dólares</mat-radio-button>
                </mat-radio-group>
                <div class="inputs">
                    <mat-form-field appearance="outline" class="half">
                        <mat-label>Desde</mat-label>
                        <input matInput type="number" name="mts1" autocomplete="off" ngModel>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="half">
                        <mat-label>Hasta</mat-label>
                        <input matInput type="number" name="mts2" autocomplete="off" ngModel>
                    </mat-form-field>
                </div>
            </div>
            <div class="operation">
                <h5>Habitaciones</h5>
                <div class="btnsOpts">
                    <button mat-button class="mat-raised-button" [class.selected]="valh1" (click)="beth(1)"><mat-icon class="plus">close</mat-icon>1</button>
                    <button mat-button class="mat-raised-button" [class.selected]="valh2" (click)="beth(2)"><mat-icon class="plus">close</mat-icon>2</button>
                    <button mat-button class="mat-raised-button" [class.selected]="valh3" (click)="beth(3)"><mat-icon class="plus">close</mat-icon>3</button>
                </div>
            </div>
            <div class="operation">
                <h5>Baños</h5>
                <div class="btnsOpts">
                    <button mat-button class="mat-raised-button" [class.selected]="val1" (click)="bath(1)"><mat-icon class="plus">close</mat-icon>1</button>
                    <button mat-button class="mat-raised-button" [class.selected]="val2" (click)="bath(2)"><mat-icon class="plus">close</mat-icon>2</button>
                    <button mat-button class="mat-raised-button" [class.selected]="val3" (click)="bath(3)"><mat-icon class="plus">close</mat-icon>3</button>
                </div>
            </div>
            <div class="operation">
                <h5>Estacionamientos</h5>
                <div class="btnsOpts">
                    <button mat-button class="mat-raised-button" [class.selected]="park1" (click)="parking(1)"><mat-icon class="plus">close</mat-icon>1</button>
                    <button mat-button class="mat-raised-button" [class.selected]="park2" (click)="parking(2)"><mat-icon class="plus">close</mat-icon>2</button>
                    <button mat-button class="mat-raised-button" [class.selected]="park3" (click)="parking(3)"><mat-icon class="plus">close</mat-icon>3</button>
                </div>
            </div>
            <!-- <div class="operation">
                <h3>Antigüedad</h3>
                <mat-radio-group>
                    <mat-radio-button value="1">A estrenar</mat-radio-button>
                    <mat-radio-button value="2">En construcción</mat-radio-button>
                    <mat-radio-button value="3">Más de 5 años</mat-radio-button>
                    <mat-radio-button value="4">Menos de 5 años</mat-radio-button>
                </mat-radio-group>
            </div> -->
        </div>
        <div class="container-properties col-xl-9 col-lg-7 col-sm-12">
            <!-- <p>Casas con alberca en Nuevo León</p> -->
            <div *ngFor="let prop of properties;let i = index" class="props">
                <div fxLayout="column" class="slider carousel-container">
                    <mat-carousel
                    class="thiscarousel"
                    timings="250ms ease-in"
                    [autoplay]="false"
                    interval="5000"
                    color="primary"
                    slides="5"
                    [loop]="true"
                    [hideArrows]="false"
                    [hideIndicators]="true"
                    [useKeyboard]="false"
                    [useMouseWheel]="false"
                    orientation="ltr">
                    <mat-carousel-slide
                        #matCarouselSlide
                        *ngFor="let slide of prop.images; let i = index"
                        overlayColor="#00000040"
                        [hideOverlay]="false">
                        <img [src]="slide">
                    </mat-carousel-slide>
                    </mat-carousel>
                    <h2>{{prop.price | currency}}{{prop.currency_type}}</h2>
                </div>
                <div class="description">
                    <h2>{{prop.name}}</h2>
                    <p>{{prop.ad_description}}</p>
                    <p class="sub">{{prop.delegation}}</p>
                    <p class="mtop">Superficie: Terreno {{prop.built_size}}mts<sup>2</sup>, Construcción {{prop.total_built}}mts<sup>2</sup> </p>
                    <p class="mtop"><mat-icon>single_bed</mat-icon> Recámaras {{prop.bathrooms}} | <mat-icon>bathtub</mat-icon> Baños {{prop.bathrooms}} | <mat-icon>bathtub</mat-icon> medios baños {{prop.half_bathrooms}}</p>
                    <p> <mat-icon>directions_car</mat-icon>Estacionamiento {{prop.parking}} | <mat-icon>pool</mat-icon> Alberca | <mat-icon>pets</mat-icon> Mascotas permitidas </p>
                    <div class="footer" fxLayout="column" fxLayoutAlign="end stretch">
                        <div class="flex">
                            <div class="first">
                                <p>Publicado el {{prop.created_at | date:'mediumDate'}}</p>
                            </div>
                            <div class="sec">
                                <button class="mat-raised-button blue" mat-button (click)="getContact(prop)"> <mat-icon>question_answer</mat-icon> CONTACTAR</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>