.m-login__aside{
    z-index: 100;
    position: relative;
}
.m-login__signup{
    display: block !important;
}
.forgot{
    .m-link{
        font-size: 0.8rem !important;
    }
}
.m-login__form-action{
    .btn{
        &.btn-focus{
            background-color: #001c2b !important;
            border-color: #001c2b !important;
            box-shadow: none !important;
            &:hover{
                box-shadow: 0px 5px 10px 2px #001c2b !important;
            }
        }
        padding: 0.8rem 1.6rem !important;
        &:first-child{
            margin-right: 10px;
        }
    }
}
#m_login_signin_submit, #m_login_signup_submit{
    input{
        background: transparent;
        color: #fff;
        border: none;
    }
}
