.contact{
    height: 65vh;
    margin-top: 10vh;
    .title{
        display: block !important;
        padding-left: 7%;
        width: 100%;
        h3{
            font-size: 1.7rem;
            font-weight: 400;
            width: 60%;
            margin: 0 auto;
        }
        p{
            font-size: 1.5rem;
            text-align: justify;
            position: relative;
            top: 20%;
        }
    }
    img{
        &.contact-img{
            position: relative;
            width: 100%;
            left: 3rem;
        }
    }
}
h2.title{
    font-size: 2.4rem;
    margin-top: 0;
    text-align: center;
}
.contact-form{
    height: 25vh;
    margin-top: -11rem;
    .title{
        display: block !important; 
        padding-left: 7rem;
        h2{
            font-size: 2rem;
            font-weight: bold;
            color: #001c2b;   
            margin-bottom: 3rem; 
            position: relative;
            top: -3rem;        
        }
        p{
            color: #001c2b;   
            width: 40%;
            font-size: 1.2rem;
        }
    }
    .example-form{
        color: #001c2b; 
        z-index: 100000;
        position: relative;
        top: 2rem;
    }
}
.map{
    margin: 5rem 0rem 6rem 10rem;
    agm-map {
        height: 60vh;
        width: 90%;
        margin: 0 auto;
    }
}
.form{
    margin-top: 13vh;
    position: relative;
    z-index: 9999999999999 !important;
    width: 100%;
    text-align: center;
    .mat-form-field{
        &:first-child{
            margin-top: 1vh;
        }
        width: 70%;
    }
    h2{
        margin: 0 !important;
    }
    button{
        background: #001c2b;
        color: #fff;
    }
}