<app-menu></app-menu>
<app-stick></app-stick>
<div class="block col-lg-12 col-md-12 row">
    <div class="back row col-lg-12">
        <div class="col-lg-4 col-md-4">
            <h2 class="title">¡Contacta con nuestros Consultores!</h2>
        </div>
        <div class="title half-2 col-lg-5 col-md-5">
            <p>
            Somos expertos inmobiliarios y estamos listos para apoyarte. <br> <br> Déjanos tus dudas o comentarios
            y en breve estaremos en contacto para brindarte la asesoría que se ajuste a tus necesidades. <br> <br> 
            O bien para recibir una asesoría completa y personalizada sobre el servicio de tu interés.
            </p>  
        </div>
    </div>
</div>
<div class="mobileBlock row col-lg-12">
    <div class="form">
        <div class="block">
            <h2>Envíanos tus dudas/comentarios</h2>
            <form class="m-login__form m-form" #login="ngForm" (ngSubmit)="onClickSubmit(login.value)">
                <div class="form-group m-form__group">
                <mat-form-field>
                    <input matInput class="form-control m-input" type="text" placeholder="E-mail" name="email" autocomplete="off" ngModel>
                </mat-form-field>
            </div>
            <div class="form-group m-form__group">
                <mat-form-field>
                    <input matInput class="form-control m-input m-login__form-input--last" type="text" placeholder="Mensaje" name="comments" ngModel>
                </mat-form-field>
                </div>
                <div class="m-login__form-action">
                    <button mat-button id="m_login_signin_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air">Enviar</button>
                </div>
            </form>
        </div>
    </div>
    <div class="map col-md-6 col-lg-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3596.0688083235486!2d-100.33213448528024!3d25.669013683678894!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8662be1f26f078df%3A0xbdd554f5cc3d4903!2sValle%20del%20Mirador%20203%2C%20Mirador%2C%2064910%20Monterrey%2C%20N.L.!5e0!3m2!1ses-419!2smx!4v1582690878299!5m2!1ses-419!2smx" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>
</div>

<!-- <div fxLayout="100%" fxLayoutAlign="flex-start center" class="map">
    <agm-map [latitude]="lat" [longitude]="lng">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map> 
</div>-->
<app-footer></app-footer>