.contact{
    height: 65vh;
    opacity: 0.5;
    .title{
        display: block !important;
        padding-left: 7%;
        width: 100%;
        text-align: center;
        h3{
            font-size: 1.7rem;
            font-weight: 400;
            width: 60%;
            margin: 0 auto;
        }
        p{
            font-size: 1.5rem;
            text-align: justify;
            position: relative;
            top: 20%;
        }
    }
    img{
        &.contact-img{
            position: relative;
            width: 100%;
            left: 3rem;
        }
    }
}
.block{
    margin: 0;
    padding: 0;
}
.half-2{
    background: #001c2bde;
    padding: 2%;
    margin: 4%;
    border-radius: 3px;
    position: relative;
    left: 15%;
    margin-bottom: 23vh;
}
.back{
    background-image: url("../../assets/img/men_contact.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 65%;
    color: white;
    font-size: 1.2em;
    text-align: center;
    z-index: 1;
    margin: 0;
    padding: 0;
}
h2.title{
    margin-top: 0;
    color: #001c2bde;
    text-align: left;
    font-size: 3em;
    position: relative;
    top: 10%;
    left: 20%;
    width: 70%;
}
.contact-form{
    height: 25vh;
    margin-top: -11rem;
    .title{
        display: block !important; 
        padding-left: 7rem;
        h2{
            font-size: 2rem;
            font-weight: bold;
            color: #001c2b;   
            margin-bottom: 3rem; 
            position: relative;
            top: -3rem;        
        }
        p{
            color: #001c2b;   
            width: 40%;
            font-size: 1.2rem;
        }
    }
    .example-form{
        color: #001c2b; 
        z-index: 100000;
        position: relative;
        top: 2rem;
    }
}
.map{
    margin: 5rem 0rem 6rem 10rem;
    agm-map {
        height: 60vh;
        margin: 0 auto;
    }
}
.form{
    margin-top: 10vh;
    position: relative;
    z-index: 9999999999999 !important;
    width: 50%;
    text-align: right;
    padding: 0 5rem;
    .block{
        display: block !important;
    }
    .mat-form-field{
        &:first-child{
            margin-top: 1vh;
        }
        width: 70%;
    }
    h2{
        margin: 20px 0 !important;
    }
    button{
        background: #001c2b;
        color: #fff;
        border-radius: 2px;
        width: 25%;
        margin: 20px 0;
    }
    mat-form-field{
        width: 90% !important;
    }
}
.map{
    width: 70%;
    margin: 0 !important;
    padding: 0;
}
.mobileBlock{
    margin: 0;
    padding: 0;
}
@media (max-width: 991px){
    app-stick{
        display: none;
    }
    ::ng-deep{
        .cdk-overlay-pane{
            width: 100% !important;
            height: 80vh !important;
        }
        .m-form{
            height: 60vh !important;
            .flex{
                display: block !important;
            }
            .close{
                position: relative !important;
                top: -33px !important;
                left: -18px !important;
            }
        }
        app-footer{
            .footer{
                width: 98% !important;
            }
        }
    }
    .half-2{
        display: none !important;
    }
    .back{
        top: 29% !important;
        left: 0px !important;
        margin: 0;
        height: 70vh;
        h2{
            &.title{
                top: 60px !important;
                left: -20px !important;
                width: 110% !important;
                background: #ffffff78;
                padding: 10px 40px;
            }
        }
    }
    .mobileBlock{
        display: block !important;
    }
    .form{
        width: 100% !important;
        height: 57vh !important;
        padding: 0 30px;
        margin-top: 10px;
    }
    .map{
        width: 100% !important;
    }
}
@media (max-width: 1380px) and (min-width:1000px){
    .half-2{
        width: 80% !important;
    }
}