.menu-spacer {
    flex: 1 1 auto;
    text-align: right;
    margin-right: 25px;
    p{
        font-size: 0.8rem;
        &:first-child{
            margin-bottom: 0px;
        }
        &:nth-child(2){
            margin-top: 0px;
        }
    }
}  
.center{
    text-align: center;
}
.logo-img{
    width: 80%;
}
.menu{
    width: 100%;
    text-align: center;
}
.mat-toolbar-multiple-rows {
    min-height: 20vh;
}
.mat-toolbar.mat-primary {
    background: transparent;
    color: #001c2b;
}
.mat-drawer {
    background-color: white;
    color: #001c2b;
    width: 100%;
    a{
        color: #001c2b;
    }
}
.mat-drawer-container{
    position: absolute;
    background-color: transparent;
}
.mat-toolbar-row, .mat-toolbar-single-row {
    height: 20vh;
}
.menu-list{
    a{
        .mat-list-item-content{
            padding: 0 55px 0 25px !important; 
        }
    }
}
@media (max-width: 991px){
    .mat-drawer-container{
        z-index: 99999;
    }
    .mobileNone{
        display: none;
    }
    .mobileMenu{
        max-width: 100% !important;
        text-align: center;
        img{
            width: 70% !important;
        }
    }
    .mat-nav-list a{
        text-decoration: none;
        width: 100%;
        text-align: left;
        font-size: 1.5em;
        margin: 10px 5px;
        font-weight: 400;
    }
    .btn-menu{
        mat-icon{
            font-size: 2.5rem;
        }
    }
}