<mat-toolbar color="primary">
    <mat-toolbar-row [class.skyblue]="aboutus">
        <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
            <mat-icon>menu</mat-icon>
        </button>
        <div fxFlex="30%" class="center">
            <span>
                <img
                class="logo-img"
                alt="Neorama Logo"
                src="../../assets/img/neorama_logof-02.png"
                />
            </span>
        </div>
        <div fxFlex="50%">
            <div fxShow="true" fxHide.lt-md class="menu">
                <!-- The following menu items will be hidden on both SM and XS screen sizes -->
                <a routerLink="" routerLinkActive="active" mat-button>Inicio</a>
                <a routerLink="/about-us" routerLinkActive="active" mat-button>Nosotros</a>
                <a routerLink="/properties" routerLinkActive="active" mat-button>Propiedades</a>
                <a routerLink="/develops" routerLinkActive="active" mat-button>Desarrollos</a>
                <a routerLink="/services" routerLinkActive="active" mat-button>Servicios</a>
                <a routerLink="/contact" routerLinkActive="active" mat-button>Contacto</a>
                <!-- <a routerLink="/dash" routerLinkActive="active" mat-button>Dash</a> -->
            </div>
        </div>
        <div fxFlex="20%">
            <span class="menu-spacer" fxHide.lt-md>
                <p>+(52)811 238 1928</p>
                <p>info@neorama.mx</p>
                <p><i class="fas fa-user-circle"></i><a routerLink="/log" routerLinkActive="active" mat-button>Login</a></p>
            </span>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
    <mat-nav-list class="menu-list">
        <a (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
        <a href="#" mat-list-item>Inicio</a>
        <a href="#" mat-list-item>Nosotros</a>
        <a href="#" mat-list-item>Propiedades</a>
        <a href="#" mat-list-item>Desarrollos</a>
        <a href="#" mat-list-item>Servicios</a>
        <a href="#"mat-list-item>Contacto</a>
    </mat-nav-list>
    </mat-sidenav>
</mat-sidenav-container>
