
<!-- <mat-sidenav-container>
    <mat-sidenav #sidenav>
    <mat-nav-list class="menu-list">
        <a routerLink="" routerLinkActive="active" mat-button>Inicio</a>
        <a routerLink="/about-us" routerLinkActive="active" mat-button>Nosotros</a>
        <a routerLink="/properties" routerLinkActive="active" mat-button>Propiedades</a>
        <a routerLink="/services" routerLinkActive="active" mat-button>Servicios</a>
        <a routerLink="/contact" routerLinkActive="active" mat-button>Contacto</a>
    </mat-nav-list>
    </mat-sidenav>
</mat-sidenav-container> -->
