.prop-container{
    display: block !important;
    width: 100%;
    .img{
        height: 35vh;
    }
    .center{
        text-align: center;
        img{
            width: 60%;
        }
    }
    .prop-info{
        padding: 10px;
        h4{
            margin-bottom: 0;
        }
        h2{
            margin:15px 0px 0px 0px;
        }
        button.blue{
            background: #001c2b;
            color: #fff;
            width: 100%;
            font-size: 1.2rem;
            font-weight: 100;
            padding: 5px;
            margin-top: 50px;
            text-transform: uppercase;
            font-weight: 400;
            letter-spacing: 0.5px;
            mat-icon{
                position: relative;
                top: -1px;
                margin-right: 15px;
            }
        }
    }
}
.consultor-info{
    background: #001c2b;
    color: #fff;
    margin-top: 2vh;
    width: 114%;
    position: relative;
    right: 25px;
    padding: 10px;
    text-align: center;
    .light{
        font-weight: 400;
    }
}
.flex{
    width: 100%;
    .first{
        width: 45%;
        margin-right: 35px;
    }
    .second{
        width: 45%;
    }
}
.mat-dialog-content{
    overflow: initial;
}
.mat-dialog-container{
    background: #fff !important;
    color: black !important;
}
.flexIcons{
    display: block;
    width: 50%;
    font-size: 0.9rem;
    mat-icon{
        font-size: 1.3rem;
    }
}
.amenidades{
    display: flex;
}
.nomargin{
    margin: 0;
}
.light{
    font-weight: 100;
    margin-top: 15px;
}
mat-icon{
    position: relative;
    top: 4px;
}
.m-form{
    mat-form-field{
        width: 100%;
    }
    .m-login__form-action{
        text-align: center;
    }
    button{
        width: 85%;
        background: #feaa61;
        color: #fff;
        letter-spacing: 0.5px;
        text-transform: uppercase;
    }
}
@media (max-width: 1024px){
    ::ng-deep {
        .cdk-overlay-pane{
            width: 80% !important;
            height: 65vh !important;
        }
    }
}