<mat-dialog-content>
    <div class="m-subheader">
        <div fxLayoutAlign="left" class="main-container">
            <div fxLayout="row" class="prop-container" *ngIf="!contact">
                <div class="img">
                    <mat-carousel
                    class="thiscarousel"
                    timings="250ms ease-in"
                    [autoplay]="false"
                    interval="5000"
                    color="primary"
                    slides="5"
                    [loop]="true"
                    [hideArrows]="false"
                    [hideIndicators]="true"
                    [useKeyboard]="false"
                    [useMouseWheel]="false"
                    orientation="ltr">
                    <mat-carousel-slide
                        #matCarouselSlide
                        *ngFor="let slide of img; let i = index"
                        overlayColor="#00000040"
                        [hideOverlay]="false">
                        <img [src]="slide">
                    </mat-carousel-slide>
                    </mat-carousel>
                </div>
                <div class="prop-info">
                    <h2>{{name}}</h2>
                    <h2>{{price | currency}}</h2>
                    <p style="margin-top: 0;">{{address}}</p>
                    <p style="margin-top: 0;">Construcción {{built_size}}mts<sup>2</sup>, Terreno {{total_built}}mts<sup>2</sup></p>
                    <div class="amenidades">
                        <div class="flexIcons">
                            <p><mat-icon>single_bed</mat-icon>Habitaciones {{bathrooms}}</p>
                            <p><mat-icon>directions_car</mat-icon>Estacionamiento {{parking}}</p>
                            <p><mat-icon>smoke_free</mat-icon> No se permite fumar</p>
                        </div>
                        <div class="flexIcons">
                            <p><mat-icon>bathtub</mat-icon>Baños {{bathrooms}}</p>
                            <p><mat-icon>pets</mat-icon> Se permiten mascotas</p>
                            <p><mat-icon>pool</mat-icon> Alberca</p>
                        </div>
                    </div>
                    <button class="mat-raised-button blue" mat-button (click)="getContact()"><mat-icon>question_answer</mat-icon> Contactar</button>
                </div>
            </div>
            <div fxLayout="row" class="prop-container" *ngIf="contact">
                <div class="center">
                    <img src="../../../assets/img/neorama_logof-02.png" alt="">
                    <h3 style="font-size: 1.4em;margin-top: 5px;">Necesitas más información sobre este inmueble?</h3>
                    <h3 style="font-weight: 400;">Ponte en contacto con nosotros!</h3>
                </div>
                <form class="m-login__form m-form" #register="ngForm" (ngSubmit)="close()">
                    <div class="flex">
                        <mat-form-field appearance="outline" class="first">
                            <mat-label>Nombre Completo</mat-label>
                            <input matInput type="text" placeholder="Juan Perez" name="name" autocomplete="off" ngModel>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="second">
                            <mat-label>Teléfono</mat-label>
                            <input matInput type="text" placeholder="81290394" name="phone" autocomplete="off" ngModel>
                        </mat-form-field>
                    </div>
                    <mat-form-field appearance="outline">
                        <mat-label>E-mail</mat-label>
                        <input matInput type="text" placeholder="correo@ejemplo.com" name="email" autocomplete="off" ngModel>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Mensaje</mat-label>
                        <textarea matInput type="text" placeholder="Hola, me interesa este inmueble que vi en su página web y quiero que me contacten. Gracias." name="message" autocomplete="off" [(ngModel)]="message"></textarea>
                    </mat-form-field>
                <div class="m-login__form-action">
                    <button mat-button class="mat-raised-button">Enviar</button>
                </div>
                </form>
                <div class="consultor-info">
                    <h3>Consultor {{consultor_name}}</h3>
                    <h5 class="light"><mat-icon>phone_enabled</mat-icon> {{consultor_phone}}</h5>
                </div>
            </div>
        </div>
    </div>
</mat-dialog-content>

<!-- <mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()">Close</button>
</mat-dialog-actions> -->