<mat-dialog-content>
    <div class="m-subheader">
        <div fxLayoutAlign="left" class="main-container">
            <div fxLayout="row" class="prop-container">
                <div class="img">
                    <img src="{{img}}" alt="{{name}}">
                </div>
                <div class="prop-info">
                    <h2>{{name}}</h2>
                    <h4>Desde</h4>
                    <h2>MXN {{price | currency}}</h2>
                    <p>{{address}}</p>
                    <button class="mat-raised-button blue" mat-button>Contactar!</button>
                </div>
            </div>
        </div>
    </div>
</mat-dialog-content>

<!-- <mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()">Close</button>
</mat-dialog-actions> -->