<mat-dialog-content>
    <div class="m-subheader">
        <div fxLayoutAlign="left" class="main-container">
            <div fxLayout="row" class="prop-container">
                <div class="img">
                    <mat-carousel
                    class="thiscarousel"
                    timings="250ms ease-in"
                    [autoplay]="false"
                    interval="5000"
                    color="primary"
                    slides="5"
                    [loop]="true"
                    [hideArrows]="false"
                    [hideIndicators]="true"
                    [useKeyboard]="false"
                    [useMouseWheel]="false"
                    orientation="ltr">
                    <mat-carousel-slide
                        #matCarouselSlide
                        *ngFor="let slide of img; let i = index"
                        overlayColor="#00000040"
                        [hideOverlay]="false">
                        <img [src]="slide">
                    </mat-carousel-slide>
                    </mat-carousel>
                </div>
                <div class="prop-info">
                    <h2>MXN {{price | currency}}</h2>
                    <h4 style="font-weight: 100;">{{name}}</h4>
                    <p>{{address}}</p>
                    <button class="mat-raised-button blue" mat-button>Contactar!</button>
                </div>
            </div>
        </div>
    </div>
</mat-dialog-content>

<!-- <mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()">Close</button>
</mat-dialog-actions> -->