h2{
    text-align: center;
}
.m-form{
    height: 42vh;
    .mat-form-field{
        width: 100%;
    }
    .mat-form-field-appearance-legacy .mat-form-field-wrapper{
        width: 80% !important;
        margin: 0 auto !important;
    }
    .mat-raised-button{
        input{
            background: transparent;
            color: #fff;
            border: none;
            cursor: pointer;
        }
    }
    .m-login__form-action{
        text-align: center;
    }
}
.close{
    float: right;
    position: relative;
    bottom: 60px;
    width: 8%;
    padding: 0;
    border-radius: 30px;
    button{
        padding: 0px !important;
        font-size: 0.5rem;
        border-radius: 30px;
    }
}