h2{
    text-align: center;
}
mat-dialog-content{
    width: 90% !important;
    margin: 0 auto;
}
.m-form{
    height: 45vh;
    width: 100%;
    .mat-form-field{
        width: 100%;
    }
    .mat-form-field-appearance-legacy .mat-form-field-wrapper{
        width: 80% !important;
        margin: 0 auto !important;
    }
    .mat-raised-button{
        input{
            background: transparent;
            color: #fff;
            border: none;
            cursor: pointer;
        }
    }
    .m-login__form-action{
        text-align: center;
        button{
            background: #001c2b;
            color: #fff;
            width: 50%;
            border-radius: 2px;
            margin: 1rem 0;
        }
    }
}
.close{
    float: right;
    position: relative;
    bottom: 75px;
    width: 8%;
    padding: 0;
    left: 10px;
    button{
        box-shadow: none !important;
        background: transparent !important;
        padding: 0px !important;
        font-size: 0.5rem;
        border-radius: 30px;
        font-size: 1.7vw !important;
    }
}
.flex{
    display: flex;
}
.first{
    width: 90%;
    margin-right: 10px;
}
.second{
    width: 90%;
}
@media (max-width: 991px){
    .close{
        float: right;
        position: relative;
        bottom: 113px !important;
        width: 8%;
        padding: 0;
        left: -2px !important;
    }
    mat-dialog-content{
        padding: 0;
        margin: 0 !important;
        width: 100% !important;
        position: relative;
        top: -30px;
        height: 64vh;
        overflow: hidden;
    }
}
@media (max-width: 768px){
    ::ng-deep{
        .cdk-overlay-pane{
            width: 80% !important;
            height: 43vh;
        }
    }
}