<app-menu></app-menu>
<div class="container">
<h3>Aviso de Privacidad</h3>

Neorama Bienes Raíces, S.A. de C.V. con domicilio en Valle del Mirador #203, Colonia Mirador,
Monterrey, N.L. es responsable de recabar sus datos personales, del uso que se le dará a los mismos, así
como de su protección.
Sus datos personales serán utilizados para Proveer los servicios inmobiliarios requeridos por usted,
informar sobre cambios o servicios que estén relacionados con su contrato, realizar evaluaciones sobre
el servicio brindado, así como de los productos que manejamos, con la finalidad de mejorar la calidad de
los mismos; realizar estudios internos sobre hábitos de consumo, dar cumplimiento a obligaciones
contraídas con nuestros clientes; mantenerle informado de cambios en los servicios, y en general dar
cumplimiento a las obligaciones que hemos contraído con nuestros clientes.
Por lo anterior, recabamos sus datos personales de forma directa cuando usted mismo nos los
proporciona y podremos solicitar datos de identificación personal, datos de contacto, datos laborales,
financieros y documentos de soporte para la creación de contratos, investigaciones, y en general para la
prestación del servicio que solicita.
Le informamos que en esta empresa no serán recabados y tratados datos personales sensibles que
incluyen entre otros origen racial o étnico, estado de salud presente y futuro, información genética,
creencias religiosas, filosóficas y morales, afiliación sindical, opiniones políticas, preferencia sexual.
Usted tiene derecho de acceder a qué datos personales tenemos de usted, así como a los detalles de
para qué los utilizamos y las condiciones del uso que les damos. Asimismo, es su derecho solicitar la
corrección de su información personal en caso de que esté desactualizada, sea inexacta o incompleta;
que la eliminemos de nuestros registros cuando considere que la misma no está siendo utilizada
conforme a los principios, deberes y obligaciones previstas en la normativa.
Para el ejercicio de cualquiera de los derechos ARCO, usted deberá presentar la solicitud respectiva por
escrito a través del siguiente correo electrónico info@neorama.mx , en este caso se le informará que se
recibió la solicitud, así como la resolución, con la finalidad de que, si haga efectiva dentro de los diez días
siguientes a la fecha en que se comunica la respuesta.
En caso necesario su información personal puede ser tratada o transferida dentro del país a empresas
relacionadas, o afiliadas a Neorama Bienes Raíces y para los mismos efectos citados anteriormente. Si
usted no manifiesta su oposición al tratamiento, uso o transferencia de sus datos personales, se
entiende que usted nos ha otorgado su consentimiento para ello.
Nos reservamos el derecho de efectuar en cualquier momento modificaciones o actualizaciones al
presente aviso de privacidad, derivadas de nuevos requerimientos legales, para la atención de cambios
legislativos o jurisprudenciales; de nuestras propias necesidades por los productos o servicios que
ofrecemos políticas internas, y prácticas del mercado.
Sin embargo, Usted puede mantenerse informado de dichos cambios en el presente aviso de privacidad,
a través de nuestro sitio web <a href="#">www.neorama.mx</a> sección Aviso de Privacidad.
</div>