.services{
    .blue-back{
        background: #001c2b;
        height: 80vh;
        width: 30%;
    }
    .img-content{
        width: 40%;
        .img-back{
            img{
                -webkit-transform: scaleX(-1);
                transform: scaleX(-1);
                width: 100%;
                margin-left: -1px;
                height: 82.4vh;
            }
            .subjects{
                position: relative;
                display: block;
                right: 90%;
                width: 80%;
                text-align: center;
                z-index: 99;
                button{
                    background: #001c2b;
                    opacity: 0.8;
                    color: #fff;
                    margin: 15px;
                    padding: 0 30px;
                    &:first-child{
                        margin-top: 20vh;
                    }
                }
            }
        }
    }
}
.services-tabs{
    // height: 100vh;
    background: #001c2b;
    width: 70%;
    .tabs-container{
        width: 100%;
        position: relative;
        bottom: 30%;
        .tabs{
            width: 100%;
            height: 82.4vh;
            position: relative;
            // top: 35%;
            margin: 0 auto;
            .transparent{
                color: transparent;
            }
            p{
                color: #fff;
                font-size: 1.5rem;
            }
            .mat-tab-label .mat-tab-label-content{
                font-size: 1.2rem !important;
            }
            .mat-tab-label{
                color: #fff;
            }
            md-tabs .md-tab.md-active{
                color: rgb(16,108,200);
            }
            h3{
                padding: 40px;
                font-size: 1.6rem;
                font-weight: 300;
                color: #fff;
                font-size: 1.4rem;
                margin-top: 0px;
                h2{
                    margin-bottom: 10px;
                    font-weight: 600;
                    font-size: 1.9rem;
                }
            }
            .over-txt{
                // position: absolute;
                color: #fff;
                // bottom: 90%;
                height: 20vh;
                padding: 40px;
                h3{
                    padding: 0;
                    font-size: 3.5rem;
                    font-weight: bold;
                    &:first-child{
                        margin-bottom: 0px;
                        margin-top: 0px;
                    }
                    &:last-child{
                        margin-top: 0px;
                        position: relative;
                        bottom: 16px;
                    }
                }
            }
        }
    }
}
.select{
    background: #fff !important;
    color: #001c2b !important;
}
@media (max-width: 700px){
    app-stick{
        display: none;
    }
    .services{
        display: block !important;
        .img-content{
            width: 102% !important;
            .img-back{
                img{
                    height: 60vh;
                }
            }
            .subjects{
                button{
                    font-size: 0.7rem !important;
                    &:first-child{
                        margin-top: 5vh !important;
                    }
                }
            }
        }
        .services-tabs{
            width: 103% !important;
            .tabs{
                .over-txt{
                    padding: 40px 40px 10px 40px !important;
                    h3{
                        &:first-child{
                            padding: 10px 40px 0px 40px !important;
                        }
                    }
                }
                h3{
                    padding: 10px 40px 40px 40px !important;
                }
            }
        }
    }
    app-footer{
        .footer{
            width: 100% !important;
        }
    }
}