.block{
    display: block !important;
}

.col-xl-3{
    margin: 0 5px;
    max-width: 24% !important;
    height: 20vh;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}
.m-widget1{
    width: 100%;
    padding: 2.2rem !important;
}