.block{
    display: block !important;
}
form{
    width: 70%;
}
.col-xl-3{
    margin: 0 5px;
    max-width: 23% !important;
    height: 20vh;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 10px;
}
.m-widget1{
    width: 100%;
    padding: 2.2rem !important;
}
.none{
    display: none !important;
}
#m_login_signin_submit, #m_login_signup_submit{
    input{
        background: transparent;
        color: #fff;
        border: none;
    }
}
.main-container{
    display: block;
    margin-top: 5vh;
    margin-bottom: 2vh;
    .m-login__form-action{
        .btn{
            &.btn-focus{
                background-color: #001c2b !important;
                border-color: #001c2b !important;
                box-shadow: none !important;
                &:hover{
                    box-shadow: 0px 5px 10px 2px #001c2b !important;
                }
            }
            padding: 0.8rem 1.6rem !important;
            &:first-child{
                margin-right: 10px;
            }
        }
    }
    .btn.btn-outline-focus{
        color: #001c2b !important;
    }
    .btn-outline-focus{
        color: #001c2b;
        background-color: transparent;
        background-image: none;
        border-color: #001c2b;
        &:hover{
            background-color: #001c2b !important;
        }
    }
}