.none{
    display: none;
}
.block{
    display: block !important;
}
.m-portlet{
    border-radius: 5px;
}
.add-btn{
    padding: 10px;
    border-radius: 5px;
    margin: 0 10px;
}
.btns{
    display: flex;
    text-align: center;
}
.m-widget1{
    padding: 12px !important;
}
.disabled{
    opacity: 0.5;
    cursor: not-allowed;
}
.listado{
    margin: 10px 0;
}