<!-- <app-menu></app-menu> -->
<div class="main" fxLayout="row">
    <app-stick></app-stick>
    <div class="baner row">
      <div class="col-lg-9 col-md-9 col-offset-3">
        <h3 style="color: white">Creamos un futuro para tu familia</h3>
      </div>
    </div>
</div>
<div class="text-section row col-xl-12 col-lg-12">
    <div class="logo-n col-lg-3 col-md-3">
        <img src="../../assets/img/Neorama_Web_min.png">
    </div>
    <div class="left content col-lg-8">
        Somos tu nuevo Panorama Inmobiliario, brindamos confianza en soluciones integrales para la
        promoción y comercialización de propiedades.
        Contamos con amplia experiencia y capacidad y damos un valor significativo en la amplia
        diversidad de servicios que manejamos; marcando una pauta de diferenciación en el servicio al
        cliente.
    </div>
</div>
<div class="properties-section row col-lg-12 col-md-12 col-sm-12">
    <div class="baner row col-lg-11 col-xl-11 col-offset-1">
        <div class="details col-lg-6 col-xl-4" *ngFor="let prop of propertiesArr">
            <div class="column carousel-container col-lg-12 col-md-12">
                <mat-carousel
                class="thiscarousel"
                timings="250ms ease-in"
                [autoplay]="false"
                interval="5000"
                color="primary"
                slides="5"
                [loop]="true"
                [hideArrows]="false"
                [hideIndicators]="true"
                [useKeyboard]="false"
                [useMouseWheel]="false"
                orientation="ltr">
                <mat-carousel-slide
                    #matCarouselSlide
                    *ngFor="let slide of prop.images let i = index"
                    overlayColor="#00000040"
                    [hideOverlay]="false">
                    <img [src]="slide">
                </mat-carousel-slide>
                </mat-carousel>
            </div>
            <div class="row bottom-column col-lg-12 col-md-12">
                <div class="flex text col-lg-9 col-md-9">
                    <h5>{{prop.name}} en {{prop.maps_url}}</h5>
                    <h6 class="nomargin">{{prop.built_size}} mts<sup>2</sup></h6>
                    <h5>{{prop.price | currency }} {{prop.currency_type}}</h5>
                </div>
                <div class="flex buttons col-lg-2 col-md-2">
                    <button mat-button class="blue-rounded" (click)="preview(prop)">Ver más</button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
