<!-- <app-menu></app-menu> -->
<div class="main" fxLayout="row">
    <app-stick></app-stick>
    <div class="baner row">
        <h3>Creamos un futuro para tu familia</h3>
        <div class="main-search mobileNone col-lg-9 col-md-9 col-offset-3">
            <h3>Buscador de Propiedades</h3>
            <div class="options">
                <mat-list class="col-lg-10 col-md-10 col-offset-2 row option-btns">
                    <mat-list-item class="col-xl-2 col-lg-3 margin-btwn" [class.blue]="selected1" (click)="status(1)"><p>Comprar</p></mat-list-item>
                    <mat-list-item class="col-xl-2 col-lg-3 margin-btwn" [class.blue]="selected2" (click)="status(2)"><p>Rentar</p></mat-list-item>
                    <mat-list-item class="col-xl-2 col-lg-3 margin-btwn" [class.blue]="selected3" (click)="status(3)"><p>Desarrollos</p></mat-list-item>
                    <mat-list-item class="col-xl-2 col-lg-3 margin-btwn" [class.blue]="selected4" (click)="status(4)"><p>Comercial</p></mat-list-item>
                    <mat-list-item class="col-xl-2 col-lg-3" [class.blue]="selected5" (click)="status(5)"><p>Temporal</p></mat-list-item>
                </mat-list>
            </div>
            <div class="search-bar col-xl-10 col-lg-10 row">
                <div class="select-search col-lg-3 col-lx-3">
                    <!-- <p (click)="down()">Ver Desarrollos <i class="material-icons">keyboard_arrow_down</i></p> -->
                    <mat-form-field class="search">
                    <mat-label>Tipo de inmueble</mat-label>
                        <mat-select name="inmueble" (selectionChange)="filterChanged($event.value)">
                            <mat-option *ngFor="let food of foods" [value]="food.viewValue">
                            {{food.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-xl-9 col-lg-8 lookfor">
                    <form class="example-form" #register="ngForm" (keydown.enter)="$event.preventDefault()">
                        <mat-form-field appearance="fill" class="inputback">
                            <input matInput name="location" placeholder="Buscar por ubicación" type="text" class="classRed" ngModel>
                        </mat-form-field>
                    </form>
                </div>
                <div class="last-filters col-lg-12">
                    <button mat-button type="submit" class="sub col-md-3" (click)="search(register.value)">Buscar</button>
                </div>
            </div>
        </div>
        <div fxFlex="80%" class="main-search-mobile desktopNone">
            <h3>Propiedades</h3>
            <form class="m-login__form m-form" #registerMobile="ngForm" (keydown.enter)="$event.preventDefault()">
                <div class="flex">
                    <mat-form-field class="search">
                    <mat-label>Renta</mat-label>
                        <mat-select>
                            <mat-option *ngFor="let food of operation" [value]="food.value">
                            {{food.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="search">
                    <mat-label>Casas</mat-label>
                        <mat-select>
                            <mat-option *ngFor="let food of inmueble" [value]="food.value">
                            {{food.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <mat-form-field appearance="outline" class="second">
                    <mat-label>Busca por ubicación</mat-label>
                    <input matInput type="text" placeholder="Escriba la ubicación" name="location" autocomplete="off" ngModel>
                </mat-form-field>
            <div class="m-login__form-action">
                <button mat-button class="mat-raised-button" (click)="search(registerMobile.value)">BUSCAR</button>
            </div>
            </form>
        </div>
    </div>
</div>
<div class="text-section row col-xl-12 col-lg-12">
    <div class="logo-n col-lg-3 col-md-3">
        <img src="../../assets/img/Neorama_Web_min.png">
    </div>
    <div class="left content col-lg-8">
        Somos tu nuevo Panorama Inmobiliario, brindamos confianza en soluciones integrales para la
        promoción y comercialización de propiedades.
        Contamos con amplia experiencia y capacidad y damos un valor significativo en la amplia
        diversidad de servicios que manejamos; marcando una pauta de diferenciación en el servicio al
        cliente.
    </div>
</div>
<div class="properties-section row col-lg-12 col-md-12 col-sm-12">
    <div class="baner row col-lg-11 col-xl-11 col-offset-1">
        <div class="details col-lg-6 col-xl-4" *ngFor="let prop of propertiesArr">
            <div class="column carousel-container col-lg-12 col-md-12">
                <mat-carousel
                class="thiscarousel"
                timings="250ms ease-in"
                [autoplay]="false"
                interval="5000"
                color="primary"
                slides="5"
                [loop]="true"
                [hideArrows]="false"
                [hideIndicators]="true"
                [useKeyboard]="false"
                [useMouseWheel]="false"
                orientation="ltr">
                <mat-carousel-slide
                    #matCarouselSlide
                    *ngFor="let slide of prop.images let i = index"
                    overlayColor="#00000040"
                    [hideOverlay]="false">
                    <img [src]="slide">
                </mat-carousel-slide>
                </mat-carousel>
            </div>
            <div class="row bottom-column col-lg-12 col-md-12">
                <div class="flex text col-lg-9 col-md-9">
                    <h5>{{prop.name}} en {{prop.maps_url}}</h5>
                    <h6 class="nomargin">{{prop.built_size}} mts<sup>2</sup></h6>
                    <h5>{{prop.price | currency }} {{prop.currency_type}}</h5>
                </div>
                <div class="flex buttons col-lg-2 col-md-2">
                    <button mat-button class="blue-rounded" (click)="preview(prop)">Ver más</button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
