<h2 mat-dialog-title>Agregar Consultor</h2>

<mat-dialog-content>
    <div class="m-subheader">
        <div fxLayoutAlign="left" class="main-container" *ngIf="!result">
            <form class="m-login__form m-form" #register="ngForm" (ngSubmit)="reg(register.value)">
                    <mat-form-field>
                        <input matInput type="text" placeholder="Nombre Completo" name="name" autocomplete="off" ngModel>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput type="text" placeholder="E-mail" name="email" autocomplete="off" ngModel>
                    </mat-form-field>
                <div class="m-login__form-action">
                    <button class="mat-raised-button">
                        <input type="submit" value="Agregar">
                    </button>
                </div>
            </form>
        </div>
        <div fxLayoutAlign="center" class="main-container" *ngIf="result">
            <div class="mr-auto" *ngIf="!err">
                <h3 class="m-subheader__title ">Información del consultor</h3>
                <p>Correo: {{email}}</p>
                <p>Contraseña: {{pass}}</p>
            </div>
            <div class="mr-auto" *ngIf="err">
                <h3 class="m-subheader__title ">Error!</h3>
                <p>{{error}}</p>
            </div>
        </div>
    </div>
</mat-dialog-content>

<!-- <mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()">Close</button>
</mat-dialog-actions> -->