.main-container{
    margin-bottom: 20px;
    text-align: right;
    .m-form{
        display: block;
        width: 100%;
        mat-form-field{
            width: 100%;
        }
        .mat-raised-button{
            input{
                background: transparent;
                color: #fff;
                border: none;
                cursor: pointer;
            }
        }
    }
    .mr-auto{
        text-align: center;
    }
}